/*headline-color*/
@headline-color: #000000;

/*headlines*/
@h1-font-size: 46px;
@h1-font-weight: 600;
@h1-font-family: 'Roboto', sans-serif;
@h1-font-color: #000000;

@h2-font-size: 40px;
@h2-font-weight: 100;
@h2-font-family: 'Roboto', sans-serif;
@h2-font-color: #000000;

@h3-font-size: 32px;
@h3-font-weight: 600;
@h3-font-family: 'Roboto', sans-serif;
@h3-font-color: #000000;

@h4-font-size: 24px;
@h4-font-weight: 600;
@h4-font-family: 'Roboto', sans-serif;
@h4-font-color: #000000;

@h5-font-size: 20px;
@h5-font-weight: 600;
@h5-font-family: 'Roboto', sans-serif;
@h5-font-color: #000000;

@h6-font-size: 18px;
@h6-font-weight: 600;
@h6-font-family: 'Roboto', sans-serif;
@h6-font-color: #000000;


/*body background color*/
@background-color : #ffffff;

/*footnote-color*/
@footnote-color: #b6b6b6;

/*body-font-color*/
@body-font-color: #4f4f4f;

/*menu-font-color*/
@menu-font-color: #000;

/*submenu font color*/
@submenu-font-color: #000;

/*submenu item hover color*/
@submenu-item-hover-color: #fff;

/*submenu item  background*/
@submenu-item-hover-background: #1e1f20;
@submenu-item-background: #ffffff;
@dropdown-size: 250px;

/* submenu item bottom border*/
@submenu-item-bottom-border: #dcdedf;
@submenu-dropbown-bottom-border: #1e1f20;

/* light border*/
@light-border: #ddd;

/* dark border*/
@dark-border: #333;

/*hamburger menu color*/
@hamburger-menu-color: #cbcbcb;

/* logo right border*/
@logo-right-border: #e6e6e7;

/* navbar background*/
@navbar-background: #ffffff;

/*slider font color*/
@slider-font-color: #ffffff;

/*dark section background color*/
@dark-section-bg-color: #1e1f20;

/*@light grey bg color*/
@light-grey-bg-color: #f4f4f4;

/*lighter grey bg color*/
@lighter-grey-bg-color: #f8f8f8;

/*white bg color*/
@white-bg-color: #fff;

/*medium grey color*/
@medium-grey-color: #cbcbcb;

/*white text*/
@white-text: #ffffff;

/*light text*/
@light-text: #cbcbcb;

/*dark text*/
@dark-text: #1e1f20;

/*accent color*/
@accent-color: #1e1f20;

/*secondary accent color*/
@secondary-accent-color: #cbcbcb;

/*masonry post bg color*/
@masonry-post-bg-color: #fff;

/*error-page-404*/
@error-page-404: #f7f7f7;

/*body font family*/
@body-font-family: Arial, sans-serif;

/*headline font family*/
@headline-font-family:'Roboto', sans-serif;

/*submenu font family*/
@submenu-font-family: Arial, sans-serif;

/*menu font family*/
@menu-font-family: 'Roboto', sans-serif;

/*menu font size */
@menu-font-size: 15px;
@menu-font-weight: bold;

/*submenu font size */
@submenu-font-size: 15px;


/*submenu bullet url*/
@submenu-bullet-url: url(../../images/bullet.png) no-repeat left 20px top 20px;
@submenu-bullet-url-single: url(../../images/bullet.png);

/*submenu bullet hover url*/
@submenu-bullet-hover-url: url(../../images/bullet-white.png) no-repeat left 30px top 20px;
@submenu-bullet-hover-url-single: url(../../images/bullet-white.png);

/*navigation-bullet-padding*/
@navigation-bullet-padding:12px 5px 12px 35px;

/*sidebar list item padding*/
@sidebar-list-item-padding: 15px 15px 15px 50px;

/*stroke-text*/
@stroke-text: 0.2px rgba(0, 0, 0, 0.5);

/*body font size*/
@body-font-size: 14px;

@body-font-weight: normal;

@body-line-height: 125%;

/*footnote font size*/
@footnote-font-size: 11px;

/*blockquote font size*/
@blockquote-font-size: 16px;


/*preloader*/
@preloader-logo: '../../images/hypno-logo.jpg';
@preloader-bg: #ffffff;


/*woocommerce product width */
@woocommerce-product-width:30.8%;

/*upper footer background color*/
@upper-footer-bg-color: #ffffff;

/*upper footer links color*/
@upper-footer-link-color: #000000;


/*lower footer background color*/
@lower-footer-bg-color: #1e1f20;

@lower-footer-text-color: #aaaaaa;

@lower-footer-heading-color: #ffffff;