.margin-top-2 {
  margin-top: 2px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-90 {
  margin-top: 90px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-120 {
  margin-top: 120px;
}
.margin-top-150 {
  margin-top: 150px;
}
.margin-top-200 {
  margin-top: 200px;
}
.margin-top-250 {
  margin-top: 250px;
}
