.margin-right-2 {
  margin-right : 2px;
}

.margin-right-5 {
  margin-right : 5px;
}

.margin-right-10 {
  margin-right : 10px;
}

.margin-right-15 {
  margin-right : 15px;
}

.margin-right-20 {
  margin-right : 20px;
}

.margin-right-25 {
  margin-right : 25px;
}

.margin-right-30 {
  margin-right : 30px;
}

.margin-right-40 {
  margin-right : 40px;
}

.margin-right-50 {
  margin-right : 50px;
}

.margin-right-60 {
  margin-right : 60px;
}

.margin-right-70 {
  margin-right : 70px;
}

.margin-right-80 {
  margin-right : 80px;
}

.margin-right-90 {
  margin-right : 90px;
}

.margin-right-100 {
  margin-right : 100px;
}

.margin-right-120 {
  margin-right : 120px;
}

.margin-right-150 {
  margin-right : 150px;
}

.margin-right-200 {
  margin-right : 200px;
}

.margin-right-250 {
  margin-right : 250px;
}