.padding-top-2 {
  padding-top : 2px;
}

.padding-top-5 {
  padding-top : 5px;
}

.padding-top-10 {
  padding-top : 10px;
}

.padding-top-15 {
  padding-top : 15px;
}

.padding-top-20 {
  padding-top : 20px;
}

.padding-top-25 {
  padding-top : 25px;
}

.padding-top-30 {
  padding-top : 30px;
}

.padding-top-40 {
  padding-top : 40px;
}

.padding-top-50 {
  padding-top : 50px;
}

.padding-top-60 {
  padding-top : 60px;
}

.padding-top-70 {
  padding-top : 70px;
}

.padding-top-80 {
  padding-top : 80px;
}

.padding-top-90 {
  padding-top : 90px;
}

.padding-top-100 {
  padding-top : 100px;
}

.padding-top-120 {
  padding-top : 120px;
}

.padding-top-150 {
  padding-top : 150px;
}

.padding-top-200 {
  padding-top : 200px;
}

.padding-top-250 {
  padding-top : 250px;
}