.padding-2 {
  padding: 2px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-25 {
  padding: 25px;
}
.padding-30 {
  padding: 30px;
}
.padding-35 {
  padding: 35px;
}
.padding-40 {
  padding: 40px;
}
.padding-50 {
  padding: 50px;
}
.padding-60 {
  padding: 60px;
}
.padding-70 {
  padding: 70px;
}
.padding-80 {
  padding: 80px;
}
.padding-90 {
  padding: 90px;
}
.padding-100 {
  padding: 100px;
}
.padding-120 {
  padding: 120px;
}
.padding-150 {
  padding: 150px;
}
.padding-200 {
  padding: 200px;
}
.padding-250 {
  padding: 250px;
}
