/*
* Spacing classes - TOP MARGIN
*/
.margin-top-2 {
  margin-top: 2px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-top-70 {
  margin-top: 70px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-90 {
  margin-top: 90px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-120 {
  margin-top: 120px;
}
.margin-top-150 {
  margin-top: 150px;
}
.margin-top-200 {
  margin-top: 200px;
}
.margin-top-250 {
  margin-top: 250px;
}
/*
* Spacing classes - BOTTOM MARGIN
*/
.margin-bottom-2 {
  margin-bottom: 2px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-70 {
  margin-bottom: 70px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.margin-bottom-90 {
  margin-bottom: 90px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-bottom-120 {
  margin-bottom: 120px;
}
.margin-bottom-150 {
  margin-bottom: 150px;
}
.margin-bottom-200 {
  margin-bottom: 200px;
}
.margin-bottom-250 {
  margin-bottom: 250px;
}
/*
* Spacing classes - LEFT MARGIN
*/
.margin-left-2 {
  margin-left: 2px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-left-60 {
  margin-left: 60px;
}
.margin-left-70 {
  margin-left: 70px;
}
.margin-left-80 {
  margin-left: 80px;
}
.margin-left-90 {
  margin-left: 90px;
}
.margin-left-100 {
  margin-left: 100px;
}
.margin-left-120 {
  margin-left: 120px;
}
.margin-left-150 {
  margin-left: 150px;
}
.margin-left-200 {
  margin-left: 200px;
}
.margin-left-250 {
  margin-left: 250px;
}
/*
* Spacing classes - RIGHT MARGIN
*/
.margin-right-2 {
  margin-right: 2px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-right-60 {
  margin-right: 60px;
}
.margin-right-70 {
  margin-right: 70px;
}
.margin-right-80 {
  margin-right: 80px;
}
.margin-right-90 {
  margin-right: 90px;
}
.margin-right-100 {
  margin-right: 100px;
}
.margin-right-120 {
  margin-right: 120px;
}
.margin-right-150 {
  margin-right: 150px;
}
.margin-right-200 {
  margin-right: 200px;
}
.margin-right-250 {
  margin-right: 250px;
}
/*
* Spacing classes - TOP PADDING
*/
.padding-top-2 {
  padding-top: 2px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-top-70 {
  padding-top: 70px;
}
.padding-top-80 {
  padding-top: 80px;
}
.padding-top-90 {
  padding-top: 90px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-top-120 {
  padding-top: 120px;
}
.padding-top-150 {
  padding-top: 150px;
}
.padding-top-200 {
  padding-top: 200px;
}
.padding-top-250 {
  padding-top: 250px;
}
/*
* Spacing classes - BOTTOM PADDING
*/
.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-bottom-2 {
  padding-bottom: 2px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-bottom-70 {
  padding-bottom: 70px;
}
.padding-bottom-80 {
  padding-bottom: 80px;
}
.padding-bottom-90 {
  padding-bottom: 90px;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
.padding-bottom-120 {
  padding-bottom: 120px;
}
.padding-bottom-150 {
  padding-bottom: 150px;
}
.padding-bottom-200 {
  padding-bottom: 200px;
}
.padding-bottom-250 {
  padding-bottom: 250px;
}
/*
* Spacing classes - LEFT PADDING
*/
.padding-left-2 {
  padding-left: 2px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-25 {
  padding-left: 25px;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-left-35 {
  padding-left: 35px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-50 {
  padding-left: 50px;
}
.padding-left-60 {
  padding-left: 60px;
}
.padding-left-70 {
  padding-left: 70px;
}
.padding-left-80 {
  padding-left: 80px;
}
.padding-left-90 {
  padding-left: 90px;
}
.padding-left-100 {
  padding-left: 100px;
}
.padding-left-120 {
  padding-left: 120px;
}
.padding-left-150 {
  padding-left: 150px;
}
.padding-left-200 {
  padding-left: 200px;
}
.padding-left-250 {
  padding-left: 250px;
}
/*
* Spacing classes - RIGHT PADDING
*/
.padding-right-2 {
  padding-right: 2px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-25 {
  padding-right: 25px;
}
.padding-right-30 {
  padding-right: 30px;
}
.padding-right-35 {
  padding-right: 35px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-50 {
  padding-right: 50px;
}
.padding-right-60 {
  padding-right: 60px;
}
.padding-right-70 {
  padding-right: 70px;
}
.padding-right-80 {
  padding-right: 80px;
}
.padding-right-90 {
  padding-right: 90px;
}
.padding-right-100 {
  padding-right: 100px;
}
.padding-right-120 {
  padding-right: 120px;
}
.padding-right-150 {
  padding-right: 150px;
}
.padding-right-200 {
  padding-right: 200px;
}
.padding-right-250 {
  padding-right: 250px;
}
/*
* Spacing classes - PADDING
*/
.padding-2 {
  padding: 2px;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-25 {
  padding: 25px;
}
.padding-30 {
  padding: 30px;
}
.padding-35 {
  padding: 35px;
}
.padding-40 {
  padding: 40px;
}
.padding-50 {
  padding: 50px;
}
.padding-60 {
  padding: 60px;
}
.padding-70 {
  padding: 70px;
}
.padding-80 {
  padding: 80px;
}
.padding-90 {
  padding: 90px;
}
.padding-100 {
  padding: 100px;
}
.padding-120 {
  padding: 120px;
}
.padding-150 {
  padding: 150px;
}
.padding-200 {
  padding: 200px;
}
.padding-250 {
  padding: 250px;
}
