/* STYLE.CSS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* This is main CSS file that contains custom styling used in this template */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: HYPNO */
/* Version: 1.0 */
/* Author: Synergy Themes */
/* Website: http://www.synergy-themes.com */
/* Copyright: (C) 2016 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - PRELOADER */
/* 02 - REVOLUTION SLIDER */
/* 03 - FONTS & TYPOGRAPHY */
/* 04 - WEBSITE SECTIONS */
/* 05 - PAGES */
/* 06 - SIDEBAR */
/* 07 - SPACING CLASSES */
/* 08 - COMMON ELEMENTS */
/* 09 - MEGA MENU */
/* 10 - BLOG */
/* 11 - NAVIGATION */
/* 12 - PORTFOLIO */
/* 13 - LOAD MORE */
/* 14 - SHORTCODES */
/* 14.01 - SHORTCODES - SOCIAL ICONS */
/* 14.02 - SHORTCODES - BUTTOONS */
/* 14.03 - SHORTCODES - PROGRESS BARS */
/* 14.04 - SHORTCODES - STEP BOXES */
/* 14.05 - SHORTCODES - TEAM */
/* 14.06 - SHORTCODES - QUOTES */
/* 14.07 - SHORTCODES - TABS & TOGGLES */
/* 14.08 - SHORTCODES - SERVICE BOXES */
/* 14.09 - SHORTCODES - LISTS */
/* 14.10 - SHORTCODES - COUNTERS */
/* 14.11 - SHORTCODES - TESTIMONIALS */
/* 14.12 - SHORTCODES - FORMS */
/* 15 - WOOCOMMERCE */
/*headline-color*/
@headline-color: #000000;

/*headlines*/
@h1-font-size: 46px;
@h1-font-weight: 600;
@h1-font-family: 'Roboto', sans-serif;
@h1-font-color: #000000;

@h2-font-size: 40px;
@h2-font-weight: 100;
@h2-font-family: 'Roboto', sans-serif;
@h2-font-color: #000000;

@h3-font-size: 32px;
@h3-font-weight: 600;
@h3-font-family: 'Roboto', sans-serif;
@h3-font-color: #000000;

@h4-font-size: 24px;
@h4-font-weight: 600;
@h4-font-family: 'Roboto', sans-serif;
@h4-font-color: #000000;

@h5-font-size: 20px;
@h5-font-weight: 600;
@h5-font-family: 'Roboto', sans-serif;
@h5-font-color: #000000;

@h6-font-size: 18px;
@h6-font-weight: 600;
@h6-font-family: 'Roboto', sans-serif;
@h6-font-color: #000000;


/*body background color*/
@background-color : #ffffff;

/*footnote-color*/
@footnote-color: #b6b6b6;

/*body-font-color*/
@body-font-color: #4f4f4f;

/*menu-font-color*/
@menu-font-color: #000;

/*submenu font color*/
@submenu-font-color: #000;

/*submenu item hover color*/
@submenu-item-hover-color: #fff;

/*submenu item  background*/
@submenu-item-hover-background: #1e1f20;
@submenu-item-background: #ffffff;
@dropdown-size: 250px;

/* submenu item bottom border*/
@submenu-item-bottom-border: #dcdedf;
@submenu-dropbown-bottom-border: #1e1f20;

/* light border*/
@light-border: #ddd;

/* dark border*/
@dark-border: #333;

/*hamburger menu color*/
@hamburger-menu-color: #cbcbcb;

/* logo right border*/
@logo-right-border: #e6e6e7;

/* navbar background*/
@navbar-background: #ffffff;

/*slider font color*/
@slider-font-color: #ffffff;

/*dark section background color*/
@dark-section-bg-color: #1e1f20;

/*@light grey bg color*/
@light-grey-bg-color: #f4f4f4;

/*lighter grey bg color*/
@lighter-grey-bg-color: #f8f8f8;

/*white bg color*/
@white-bg-color: #fff;

/*medium grey color*/
@medium-grey-color: #cbcbcb;

/*white text*/
@white-text: #ffffff;

/*light text*/
@light-text: #cbcbcb;

/*dark text*/
@dark-text: #1e1f20;

/*accent color*/
@accent-color: #1e1f20;

/*secondary accent color*/
@secondary-accent-color: #cbcbcb;

/*masonry post bg color*/
@masonry-post-bg-color: #fff;

/*error-page-404*/
@error-page-404: #f7f7f7;

/*body font family*/
@body-font-family: Arial, sans-serif;

/*headline font family*/
@headline-font-family:'Roboto', sans-serif;

/*submenu font family*/
@submenu-font-family: Arial, sans-serif;

/*menu font family*/
@menu-font-family: 'Roboto', sans-serif;

/*menu font size */
@menu-font-size: 15px;
@menu-font-weight: bold;

/*submenu font size */
@submenu-font-size: 15px;


/*submenu bullet url*/
@submenu-bullet-url: url(../../images/bullet.png) no-repeat left 20px top 20px;
@submenu-bullet-url-single: url(../../images/bullet.png);

/*submenu bullet hover url*/
@submenu-bullet-hover-url: url(../../images/bullet-white.png) no-repeat left 30px top 20px;
@submenu-bullet-hover-url-single: url(../../images/bullet-white.png);

/*navigation-bullet-padding*/
@navigation-bullet-padding:12px 5px 12px 35px;

/*sidebar list item padding*/
@sidebar-list-item-padding: 15px 15px 15px 50px;

/*stroke-text*/
@stroke-text: 0.2px rgba(0, 0, 0, 0.5);

/*body font size*/
@body-font-size: 14px;

@body-font-weight: normal;

@body-line-height: 125%;

/*footnote font size*/
@footnote-font-size: 11px;

/*blockquote font size*/
@blockquote-font-size: 16px;


/*preloader*/
@preloader-logo: '../../images/hypno-logo.jpg';
@preloader-bg: #ffffff;


/*woocommerce product width */
@woocommerce-product-width:30.8%;

/*upper footer background color*/
@upper-footer-bg-color: #ffffff;

/*upper footer links color*/
@upper-footer-link-color: #000000;


/*lower footer background color*/
@lower-footer-bg-color: #1e1f20;

@lower-footer-text-color: #aaaaaa;

@lower-footer-heading-color: #ffffff;
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - PRELOADER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

#jpreOverlay, #qLoverlay {
  background-color: @preloader-bg;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
#jpreSlide {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  width: 100%;
}
#jpreLoader, #qLloader {
  width: 448px;
  height: 69px;
  position: fixed;
  top: 43%;
  left: 50%;
  margin-left: 0px;
  margin-top: -300px;
}
#jpreBar, #qLbar {
  width: 448px;
  height: 0;
  position: absolute;
  bottom: 0;
  background: url(@preloader-logo) 100px 100% no-repeat;
}
#jprePercentage, #qLpercentage {
  color: #000;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 100px;
  margin-top: 40px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - REVOLUTION SLIDER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "variables/variables.less";

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
  width:100%;
  position:relative;
  padding:0;
  .slider_caption1 {
    font-family: @headline-font-family;
    font-size: 60px;
    color: @slider-font-color;
    font-weight: 100;
    line-height: 85px;
  }

  .slider_caption2 {
    font-family: @headline-font-family;
    font-size: 60px;
    color: @slider-font-color;
    font-weight: bold;
    line-height: 85px;
  }
  .slider_caption3 {
    font-family: @body-font-family;
    font-size: 14px;
    color: @slider-font-color;
    line-height: 14px;
  }

  .slider_caption4 {
    font-family: @body-font-family;
    font-size: 14px;
    color: @slider-font-color;
  }
  .tp-banner{
    width:100%;
    position:relative;
  }

  .tp-banner-fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - FONTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "variables/variables.less";



h1, h2, h3, h4, h5, h6 {
  font-family: @headline-font-family;
  line-height: 1;
  margin:0;
}


h1{
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  color: @h1-font-color;
  font-family: @h1-font-family;
}

h2{
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  color: @h2-font-color;
  font-family: @h2-font-family;
}

h3{
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  color: @h3-font-color;
  font-family: @h3-font-family;
}

h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  color: @h4-font-color;
  font-family: @h4-font-family;
}

h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  color: @h5-font-color;
  font-family: @h5-font-family;
}

h6 {
  font-weight: @h6-font-weight;
  font-size: @h6-font-size;
  color: @h6-font-color;
  font-family: @h6-font-family;
}

body, p{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
  font-family: @body-font-family;
}
div{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
}

p{
  -webkit-text-stroke: @stroke-text;
  line-height: @body-line-height;
  padding-bottom:20px;
  font-size: @body-font-size;
}

b, strong, .strong {
  font-weight: 900 !important;
}

a{
  color: @body-font-color;
  &:hover,&:visited,&:focus{
    color: @body-font-color;
    text-decoration: none;
  }
}

.white-text, #white-text{
  color: @white-text;
}

.thin-font{
  font-weight: 100;
}

.medium-thin-font{
  font-weight: 300;
}

.footnote{
  font-size:@footnote-font-size;
  color: @footnote-color;
}

.colored-bg-text-dark{
  display: inline-block;
  padding: 0 5px;
  background: @accent-color;
  color: @white-text;
  -webkit-text-stroke: initial;
}

.colored-bg-text-light{
  display: inline-block;
  padding: 0 5px;
  background: @medium-grey-color;
  color: @white-text;
  -webkit-text-stroke: initial;
}

.highlight{
  color: @medium-grey-color;
  -webkit-text-stroke: initial;
}

small{
  font-size:10px;
}


.drop-cap{
  -webkit-text-stroke: initial;
  float: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 3px;
  color: @accent-color;

  &.dropcap-bg{
    padding:0;
    margin: 4px 10px 1px 0;
    display: inline-block;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    width: 38px;
    text-align: center;
    height: 38px;
  }
  &.dropcap-bg-round{
    padding:0;
    display: inline-block;
    font-size: 32px;
    line-height: 38px;
    width: 38px;
    text-align: center;
    height: 38px;
    margin: 4px 10px 1px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - WEBSITE SECTIONS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "variables/variables.less";

#intro, #team{
  background-color: @dark-section-bg-color;
}
#news{
  background-color: @lighter-grey-bg-color;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - PAGES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.page-header {
  margin: 100px 0 0 0;
  border: none;
  background: 50% 50%;
  .breadcrumb{
    background: none;
    display: inline-block;
    padding: 5px;
    border-radius: 0;
    &.breadcrumb-border{
      border: 1px solid @light-grey-bg-color;
    }
    a{
      position: relative;
      padding: 7px;
      font-weight: bold;
      &:before{
        position: absolute;
        right: -15px;
        top: 7px;
        width: 15px;
        height: 13px;
        content: "/";
        opacity: .5;
        text-align: left;
        z-index: 3;
      }
    }
    span{
      padding: 7px;
    }
  }
  &.dark-header{
    background-color: @dark-section-bg-color;
    h1,h2,h3,h4,h5{
      color: @white-text;
    }
    .breadcrumb{
      a{
        color: #fff;
      }
      span{
        color: @light-text;
      }
    }
  }
  &.error-page{
    .error-shadow{
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      text-align: center;
      width: 100%;
      top: -50px;
      h1{
        display: block;
        color: @error-page-404;
        font-size: 600px;
      }
    }
    .return-home{
      a{
        color: @headline-color;
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-header {
    margin: 0;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 06 - SIDEBAR */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.sidebar, .lower-footer {
  .widget {
    .search{
      position:relative;
    }
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 30px;
    }
    &.widget_calendar{
      table{
        width:100%;
        > caption{
          padding-bottom: 25px;
          color: @headline-color;
          font-weight: 600;
        }
        th{
          color: @white-text;
          font-weight: 400;
          background: @accent-color;
          border-radius: 0;
          padding: 5px;
          font-size: 16px;
          text-align: center;
          &:last-child{
            border-radius: 0 4px 0 0;
            -moz-border-radius: 0 4px 0 0;
            -webkit-border-radius: 0 4px 0 0;
          }
          &:first-child{
            border-radius: 4px 0 0 0;
            -moz-border-radius: 4px 0 0 0;
            -webkit-border-radius: 4px 0 0 0;
          }
        }

        td{
          padding:3px;
          text-align:center;
        }
        #today{
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          background: @dark-section-bg-color;
          color: @white-text;
          a{
            color: @white-text;
          }
        }
      }

    }
    ul {
      list-style: none;
      padding: 0;
    }
    padding-bottom: 50px;
    .search-button, .search-button:focus, .search-button:active, .search-button:target {
      z-index: 2;
      background: @dark-section-bg-color;
      height: 50px;
      width: 40px;
      border-radius: 0 4px 4px 0;
      box-shadow: none;
      outline: none;
      color: @white-text;
      text-align: center;
      overflow: hidden;
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }
    .sub-menu {
      padding-left: 20px;
    }
    &.widget_categories, .menu, &.widget_pages, &.widget_meta, &.widget_archive, &.woocommerce.widget_product_categories{
      label{
        display: none;
      }
      select{
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-color: @light-border;
        outline: none !important;
        font-size: 12px;
        color: @light-text;
      }
    }
    &.widget_categories ul, .menu, &.widget_pages ul, &.widget_meta ul, &.widget_archive ul, &.woocommerce.widget_product_categories ul{
      li{
        &:extend(.ease);
        a{
          &:extend(.ease);
          display:block;
          padding: @sidebar-list-item-padding;
          border-bottom: 1px solid @light-border;
          -webkit-text-stroke: @stroke-text;
          position: relative;
          background: @submenu-bullet-url;
          &:hover{
            background: @submenu-bullet-hover-url;
            background-color: @accent-color;
            color: @white-text;
        }
        }
      }
    }
    &.widget_categories > ul, > div > .menu, &.widget_pages > ul, &.widget_meta > ul, &.widget_archive > ul, &.woocommerce.widget_product_categories > ul {
      padding: 0;
    }

    .latest-news-list {
      padding: 0;
      li {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: relative;
        background: no-repeat 50% 50% @dark-section-bg-color;
        background-size: cover !important;
        display: block;
        margin-bottom: 20px;
      }
      .news-list-hover {
        &:extend(.ease);
        background: @white-text;
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);
        padding-top: 40px;
        h6 {
          padding-bottom: 15px;
        }
        a {
          font-size: 20px;
        }
      }
      li {
        &:hover {
          .news-list-hover {
            opacity: 1;
          }
        }
      }
    }
    .tagcloud {
      a {
        &:extend(.ease);
        font-size: 13px !important;
        margin: 3px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 18px;
        border: 1px solid @light-border;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        &:hover {
          background: @dark-section-bg-color;
          border-color: @dark-section-bg-color;
          color: @white-text;
        }
      }

    }
    .recentcomments{
      padding-bottom:5px;
      span{
        font-weight: bold;
      }
    }
  }
  ul> li > a.rsswidget{
    padding-bottom:5px;
    display:block;
  }
}

.form-control, .form-control:focus {
  display: block;
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 10px;
  line-height: 10px;
  color: @footnote-color;
  background-color: transparent;
  border: 1px solid @light-border;
  box-shadow: none;
  border-radius: 4px;
}

.sidebar, .lower-footer{
  .form-control, .form-control:focus{
    height: 50px;
  }
}

.lower-footer{
  .textwidget{
    img{
      display: block;
    }
  }
  h3{
    font-size: 22px;
  }
  .widget {
    padding-bottom: 20px;
    .latest-news-list {
      .news-list-hover {
        &:extend(.ease);
        background: @lower-footer-bg-color;
        a {
          color: @lower-footer-heading-color;
        }
      }
    }
    &.widget_calendar{
      table{
        > caption{
          color: @lower-footer-heading-color;
        }
        th{
          background: @dark-border;
        }
        #today{
          background: @dark-section-bg-color;
          color: @white-text;
          a{
            color: @white-text;
          }
        }
      }

    }
    .search-button, .search-button:focus, .search-button:active, .search-button:target{
      background: @dark-border;
    }
    .form-control, .form-control:focus {
      border: 1px solid @dark-border;
    }
    .tagcloud {
      a {
        border: 1px solid @dark-border;
        &:hover {
          background: @dark-border;
          border-color: @dark-border;
          color: @white-text;
        }
      }

    }

    &.widget_categories, .menu, &.widget_pages, &.widget_meta, &.widget_archive, &.woocommerce.widget_product_categories {
      label {
        display: none;
      }
      select {
        border-color: @dark-border;
        color: @light-text;
      }
    }
    &.widget_categories ul, .menu, &.widget_pages ul, &.widget_meta ul, &.widget_archive ul, &.woocommerce.widget_product_categories ul {
      li {
        &:extend(.ease);
        a {
          &:extend(.ease);
          border-bottom: 1px solid @dark-border;
          -webkit-text-stroke: @stroke-text;
          background: @submenu-bullet-hover-url;
          &:hover {
            background: @submenu-bullet-url;
            background-color: @dark-border;
            color: @white-text;
          }
        }
      }
    }
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - SPACING CLASSES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*
* Spacing classes - TOP MARGIN
*/
@import "margin-top.less";

/*
* Spacing classes - BOTTOM MARGIN
*/
@import "margin-bottom.less";

/*
* Spacing classes - LEFT MARGIN
*/
@import "margin-left.less";

/*
* Spacing classes - RIGHT MARGIN
*/
@import "margin-right.less";

/*
* Spacing classes - TOP PADDING
*/
@import "padding-top.less";

/*
* Spacing classes - BOTTOM PADDING
*/
@import "padding-bottom.less";

/*
* Spacing classes - LEFT PADDING
*/
@import "padding-left.less";

/*
* Spacing classes - RIGHT PADDING
*/
@import "padding-right.less";

/*
* Spacing classes - PADDING
*/
@import "padding.less";
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - COMMON ELEMENTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


body{
  overflow-x:hidden;
  background-color: @background-color;
}

.preloader{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: @preloader-bg;
  z-index:999999;
}

section{
  position: relative;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

img{
  max-width:100%;
  height: auto;
}

.easein{
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}

.easeout{
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.ease{
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.header {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.align-center{
  text-align:center;
}

.align-left{
  text-align:left;
}

.align-right{
  text-align:right;
}

@media (max-width: 991px) {
  .sm-center {
    text-align: center;
  }
}

.spacer{
  display:block;
  position: absolute;
  bottom: -30px;
  left:0;
  right:0;
  margin: 0 auto;
  z-index:2;
}
.spacer-inner{
  padding: 15px;
}

.vc_row{
  position: relative;
}

.dark-bg{
  background: @dark-section-bg-color;
}

.light-bg{
  background: @light-grey-bg-color;
}

.lower-footer{
  background: @lower-footer-bg-color;
  color: @lower-footer-text-color;
  div, p, a{
    color: @lower-footer-text-color;
  }
  h1,h2,h3,h4,h5,h6{
    color: @lower-footer-heading-color;
  }
  h3{
    padding-bottom: 40px;
  }
}

.social-widget{
  &a,i {
    color: @upper-footer-link-color;
    font-size: 48px;
  }
}

.upper-footer{
  background-color: @upper-footer-bg-color;
}

.masonry-grid{
  .item-masonry{
    width: 25%;
    .well-masonry{
        .post-title{
          display: block;
          padding-bottom: 20px;
        }
        .post-info {
          color: @headline-color;
          font-size: 11px;
        }
        &:extend(.ease);
        padding: 19px;
        margin: 8px;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        &:hover {
          background-color: transparent !important;
        }
    }
  }
  &.masonry-2-col{
    .item-masonry {
      width: 50%;
    }
  }
  &.masonry-3-col{
    .item-masonry {
      width: 33%;
    }
  }
}

@media (max-width: 1200px) {
  .masonry-grid{
    .item-masonry{
      width: 33%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 50%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 33%;
      }
    }
  }
}

@media (max-width: 991px) {
  .masonry-grid{
    .item-masonry{
      width: 50%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 50%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 50%;
      }
    }
  }
}
@media (max-width: 767px){
  .masonry-grid{
    .item-masonry{
      width: 100%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 100%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 100%;
      }
    }
  }
}


.flexslider{
  margin:0;
  .flex-direction-nav{
    display:block;
    position:absolute;
    left:0;
    bottom:-4px;
    .flex-nav-prev,
    .flex-nav-next,
    .flex-nav-prev .flex-prev,
    .flex-nav-next .flex-next{
      position:relative;
      text-align: center;
      left:auto;
      top: auto;
      right: auto;
      bottom:auto;
      opacity:1;
      display: inline-block;
    }
    .flex-prev, .flex-next{
      font-size:0;
    }
    a{
      background: @dark-section-bg-color;
      width:25px;
      height:25px;
      line-height:25px;
      &:before{
        font-size:10px;
        color: @white-text;
      }
      &.flex-prev{
        margin-right:1px;
        &:before{
          font-family:FontAwesome, sans-serif;
          content: "\f053";
        }
      }
      &.flex-next{
        &:before{
          font-family:FontAwesome, sans-serif;
          content: "\f054";
        }
      }
    }
  }
  &:hover{
    .flex-nav-prev,
    .flex-nav-next,
    .flex-nav-prev .flex-prev,
    .flex-nav-next .flex-next{
      left:auto;
      top: auto;
      right: auto;
      bottom:auto;
      opacity:1;
    }
  }
}
.wp-caption,.wp-caption-text,.screen-reader-text,.gallery-caption,.bypostauthor{

}
.alignright{
  text-align: right;
}
.alignleft{
  text-align:left;
}
.aligncenter{
  text-align: left;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - MEGA MENU */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 10 - BLOG */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


.blog-masonry{
  .item-masonry{
    .well-masonry{
      background-color: @masonry-post-bg-color;
      &:hover{
        background-color: transparent;
      }
      .post-title {
        display:block;
        padding-bottom: 20px;
        h5{
          &:extend(.ease);
        }
      }
      .post-info{
        color: @headline-color;
        font-size: 11px;
        i{
          font-size: 14px;
          padding-right: 8px;
        }
        .fa-calendar{
          padding: 0 8px;
        }
      }
    }
    &:hover{
      h5 {
        color: @secondary-accent-color;
      }
    }
  }
}

.page-numbers, .woocommerce nav.woocommerce-pagination ul.page-numbers{
  padding-left:0;
  border: none;
  li{
    display: inline-block;
    margin-right: 3px;
    border: none;
    a{
      &:extend(.ease);
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 7px 12px;
      border: 1px solid @light-border;
      color: @accent-color;
      font-weight: bold;
    }
    a:hover, a:active, a:focus, span{
        color: @white-text;
        background: @accent-color;
        border: 1px solid @dark-section-bg-color;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 7px 12px;
        font-weight: bold;
    }
  }
}


.post-info{
  -webkit-text-stroke: @stroke-text;
  i{
    color: @headline-color;
    font-size: 14px;
    padding-right: 12px;
    &.fa-calendar{
      padding-left: 12px;
    }
  }
  span{
    font-size: 12px;
    padding-right: 12px;
  }
}

.post-date{
  i{
    color: @accent-color;
    font-size: 40px;
    padding-bottom: 20px;
  }
}

.post{
  border-bottom: 1px solid @light-border;
}

.post-tags, .post-tags a{
  color: @headline-color;
  font-weight: bold;
  i {
    padding-right: 15px;
  }
}

.comments{
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  .children{
    list-style: none;
  }

  img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float:left;
    margin-right:20px;
  }

  .comment-body{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid @light-grey-bg-color;
    p{
      img{
        float: none;
      }
    }
  }

  .children{
    padding-left: 100px;
  }

  li{
    clear:both;
    padding-bottom: 15px;
  }

  .comment-date{
    padding: 10px 0;
    a {
      font-size: @footnote-font-size;
      color: @footnote-color;
    }
  }

  .name{
    font-weight: bold;
    color: @headline-color;
    text-transform: uppercase;
    padding-right: 15px;
  }
  .reply{
    color: @light-text;
    a{
      color: @light-text;
    }
  }
}


.comments-container {
  h3{
    font-size: 24px;
    padding-bottom: 40px;
  }
}

.sticky-post {
  position: absolute;
  z-index:20;
  top: 9px;
  left: 9px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 30px;
  border: 15px solid @accent-color;
  border-top: 0 solid;
  border-bottom: 10px solid transparent;
  font: 400 100%/normal Arial,Helvetica,sans-serif;
  color: @white-text;
  -o-text-overflow: clip;
  text-overflow: clip;
}




/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 11 - NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.navbar {
  &.admin-bar-showing{
    top: 32px;
  }
  padding: 25px 100px 10px 100px;
  background: @navbar-background;
  border: none;
  margin: 0;
  position: relative;
  .navheader {
    margin: 5px 0 30px 30px;
    padding-left: 30px;
    border-left: 1px solid @logo-right-border;
    display: inline-block;
    h5 {
      margin: 0;
      color: @accent-color;
    }
  }
  .dropdown {
    .toggleDropdown {
      display: none;
    }
  }
  .cart-header{
    float: right;
    padding-top: 10px;
    padding-left: 40px;
    .amount{
      font-weight: bold;
    }
    i{
      color: @menu-font-color;
      padding-right:10px;
    }
    a{
      color: @menu-font-color;
      padding-top: 5px;
      display: inline-block;
    }
  }
  .social-header {
    > ul{
      padding: 0;
      list-style: none;
      >li{
        display: inline-block;
    }
    }
    float: right;
    padding-top: 8px;
    padding-left: 40px;
    a{
      &:extend(.ease);
      color: @secondary-accent-color;
      margin-left: 5px;
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 50%;
      text-align: center;
      &:hover{
        color: @navbar-background;
        background: @secondary-accent-color;
      }
    }
  }
  .dropdown-menu > li,
  .dropdown-menu .dropdown-menu > li,
  .dropdown-menu > li a,
  .dropdown-menu > li > ul li a,
  .dropdown-menu > li > ul li > ul li a,
  ul.nav li.dropdown:hover > ul.dropdown-menu{
    &:extend(.ease);
  }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
  .nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
  }

  .dropdown-menu {
    min-width: @dropdown-size;
    width: @dropdown-size;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    >li{
      border-bottom: 1px solid @submenu-item-bottom-border;
      >a{
        font-family: @submenu-font-family;
        font-size: @submenu-font-size;
        color: @submenu-font-color;
      }
    }
    .dropdown-menu{
      >li{
        border-bottom: 1px solid @submenu-item-bottom-border;
      }
    }
  }
  .navbar-toggle .icon-bar {
    background: @hamburger-menu-color;
  }
  .navbar-nav{
    >li{
      &:hover{
        background: none;
        a{
          background: none;
        }
      }
      >a{
        &:extend(.ease);
        font-family: @menu-font-family;
        font-size: @menu-font-size;
        font-weight: @menu-font-weight;
        color: @menu-font-color;
        &:hover{
          color: @secondary-accent-color;
        }
      }
    }
    >.active{
      >a{
        color: @secondary-accent-color;
      }
    }
    a{
      &:hover{
        background: none;
      }
    }
  }
}



// medium screen navbar view
@media (max-width: 1200px) {
  .navbar {
    padding: 25px 20px;
  }

  .social-header, .cart-header {
    display: none;
  }
}

// mobile navbar view
@media (max-width: 991px) {

  .navbar{
    .navbar-collapse{
      &.collapse {
        display: none !important;
      }
      &.in {
        display: block !important;
        overflow: visible;
      }
    }

    .dropdown{
      .toggleDropdown{
        color: @dark-text;
        font-family: FontAwesome, sans-serif;
        display: inline-block;
        width: 32px;
        height: 32px;
        float:right;
        cursor:pointer;
      }
      a {
        display: inline-block;
      }
    }

    .navbar-toggle {
      display: block;
    }

    .navbar-header {
      float: none;
    }

    .navheader {
      display: none;
    }
    .navbar-right {
      float: none !important;
      margin-top: 45px;
      margin-right: 0;
    }
    .navbar-nav{
      >li{
        float: none !important;
        > a {
          padding: 10px 0 10px 30px;
        }
      }
      .open{
        .dropdown-menu {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          background-color: transparent;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          > li{
            padding: 3px 30px;
            &:last-child{
              border-bottom: none;
            }
            &:hover{
              border-color: @submenu-font-color;
            }
          }
          .dropdown-menu{
            > li {
              padding: 3px 30px;
              &:last-child{
                border-bottom: none;
              }
              &:hover{
                border-color: @submenu-font-color;
              }
            }
          }
        }
      }
    }
    &.navbar-fixed-bottom .navbar-collapse,
    &.navbar-fixed-top .navbar-collapse{
    max-height: none;
    }
  }
}

// desktop navbar view
@media (min-width: 992px) {
  .navbar{
    position: fixed;
    ul.nav{
      li.dropdown{
        > ul.dropdown-menu {
          display: block;
          overflow: hidden;
          background-color: @submenu-item-background;
          max-height: 0;
        }
        &:hover{
          > ul.dropdown-menu {
            display: block;
            max-height: 1000px;
            > li.dropdown:hover > ul.dropdown-menu {
              top: -2px;
              left: 100%;
              width: @dropdown-size;
            }
          }
        }
      }
    }
    .dropdown-menu{
      &:before{
        position: absolute;
        width: @dropdown-size;
        height: 3px;
        background: @submenu-dropbown-bottom-border;
        display: block;
        content: '';
        left: 0;
        top: 0;
      }
      >li{
        &:extend(.helper-dropdown-menu-li);
        &:hover{
          &:extend(.helper-dropdown-menu-li-hover);
          > a{
            &:extend(.helper-dropdown-menu-li-hover-a);
          }
        }
        >ul li {
          &:hover {
            &:extend(.helper-dropdown-menu-li-hover);
            > a{
              &:extend(.helper-dropdown-menu-li-hover-a);
            }
            > ul li:hover {
              &:extend(.helper-dropdown-menu-li-hover);
              > a{
                &:extend(.helper-dropdown-menu-li-hover-a);
              }
            }
          }
        }
      }
      .dropdown-menu{
        >li{
          &:extend(.helper-dropdown-menu-li);
        }
      }
    }
  }

  .header{
    margin-top:100px;
  }

  .helper-dropdown-menu-li{
    display: block;
    padding: @navigation-bullet-padding;
    background: @submenu-bullet-url;
    position: relative;
  }

  .helper-dropdown-menu-li-hover{
    background: @submenu-bullet-hover-url;
    background-color: @submenu-item-hover-background;
    color: @submenu-item-hover-color;
    overflow: visible;
  }
  .helper-dropdown-menu-li-hover-a{
    color: @submenu-item-hover-color;
    overflow: visible;
  }


}

#mega-menu-wrap-primary-menu {
  #mega-menu-primary-menu {
    > li.mega-menu-flyout {
      > ul.mega-sub-menu {
        li.mega-menu-item {
          ul {
            padding: 0;
            list-style: none;
            li {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    ul.mega-sub-menu {
      li.mega-menu-item {
        ul {
          padding: 0 !important;
          list-style: none !important;
          li {
            padding-bottom: 5px !important;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mega-menu-wrap-primary-menu {
    #mega-menu-primary-menu {
      > li.mega-menu-megamenu {
        > ul.mega-sub-menu {
          > li.mega-menu-item {
            font-family: @submenu-font-family;
          }
        }
      }
      > li.mega-menu-item {
        > ul.mega-sub-menu {
          > li.mega-menu-item {
            font-family: @submenu-font-family;
          }
        }
        > a.mega-menu-link {
          font-family: @menu-font-family;
        }
      }
      > li.mega-menu-flyout {
        > a.mega-menu-link {
          font-family: @menu-font-family;
        }
        ul.mega-sub-menu {
          li.mega-menu-item {
            a.mega-menu-link {
              font-family: @submenu-font-family;
              background-image: @submenu-bullet-url-single;
              background-position: left 20px top 20px;
              background-repeat: no-repeat;
              &:hover {
                background-image: @submenu-bullet-hover-url-single;
                background-position: left 30px top 20px;
                background-repeat: no-repeat;
              }
            }
          }
        }
        > ul.mega-sub-menu {
          li.mega-menu-item {
            ul {
              padding: 0;
              list-style: none;
              li {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
      ul.mega-sub-menu {
        li.mega-menu-item {
          ul {
            padding: 0 !important;
            list-style: none !important;
            li {
              padding-bottom: 5px !important;
            }
          }
        }
      }
    }
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 12 - PORTFOLIO */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";


.portfolio-carousel{
  .owl-controls {
    position: absolute;
    left: 0;
    top: 230px;
    width: 100%;
    .owl-buttons div {
      background: transparent !important;
    }
    .owl-prev {
      left: -100px;
      position: absolute;
      opacity:1;
    }
    .owl-next {
      right: -100px;
      position: absolute;
      opacity:1 !important;
    }
  }
}


@media (max-width: 991px) {
  .portfolio-carousel .owl-controls{
    display: none !important;
  }
}

.portfolio-item{
  &:extend(.ease);
  padding:15px;
  .portfolio-description {
    overflow: hidden;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 40px;
    h4{
      &:extend(.ease);
      margin-bottom:40px;
      position: relative;
      &:after{
        content:'';
        display:block;
        position: absolute;
        width: 10px;
        height: 1px;
        background: @headline-color;
        left: 0;
        bottom: -20px;
      }
    }
  }
  .portfolio-picture {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;
    background: no-repeat 50% 50%;
    background-size: cover !important;
    .portfolio-hover {
      &:extend(.ease);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 2;
      line-height: 270px;
      background: rgba(255,255,255,0.9);
      a{
        padding:10px;
        color: @headline-color;
        font-size:20px;
      }
    }
  }
  &:hover{
    .portfolio-hover{
      opacity: 1;
    }
    h4 {
      color: @accent-color;
    }
  }
}

.portfolioFilters{
  a{
    &:extend(.ease);
    font-size: 15px;
    font-weight: 600;
    color: @headline-color;
    display: inline-block;
    margin: 2px;
    padding: 10px 18px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    &.active-filter, &:hover{
      color: @white-text;
      background: @headline-color;
    }
  }
}

@media (max-width: 991px) {
  .portfolioFilters {
    padding-top: 60px;
    text-align: center;
    a {
      display: block;
    }
  }
}

.portfolio-item-navigation-ajax{
  display: none;
}

#ajaxPortfolioContainer{
  .portfolio-item-navigation-ajax{
    display: block;
  }
}

.portfolio-item-navigation{
  a{
    padding:10px;
  }
}

.exit-item{
  display:inline-block;
  width:20px;
  height:20px;
  line-height:16px;
  margin: 0 10px;
  text-align:center;
  border-radius: 50%;
  background: @dark-section-bg-color;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 13 - LOAD MORE */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.load-more-container{
  .lm-item{
    display: none;
  }
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 14 - SHORTCODES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 14.01 - SHORTCODES - SOCIAL ICONS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.social-icon{
  &:extend(.ease);
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;

  &.small-icon{
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  &.large-icon{
    font-size: 20px;
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
  &.light-bg{
    background: @white-text;
    &:hover{
      background: transparent;
      color: @white-text !important;
    }
  }

  &.white-icon{
    color: @white-text !important;
    &:hover{
      background: @white-text;
      color: @dark-text !important;
    }
  }

  &.dark-icon{
    color: @dark-text;
    &:hover{
      background: @dark-text;
      color: @white-text;
    }
  }

  &.accent-icon{
    color: @accent-color;
    &:hover{
      background: @accent-color;
      color: @white-text;
    }
  }
  &.dark-bg{
    color: @white-text;
    background: @dark-section-bg-color;
    &:hover{
      background: transparent;
      color: @dark-text;
    }
  }
  i{
    color: inherit;
  }
}

.vc_icon_element.vc_icon_element-outer {
  .vc_icon_element-inner{
    height: 2em !important;
  }
}
/*---------------------------------------------------------------*/
/* 14.02 - SHORTCODES - BUTTOONS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";


.btn{
  &:extend(.ease);
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  border: 1px solid;
  color: @dark-text;
  background: transparent;
  &:after {
    font-family: FontAwesome, sans-serif;
    content: "\f178";
    font-weight: normal;
    position: absolute;
    display: block;
    border-left: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.3);
    padding-left: 10px;
    height: auto;
  }

  &:hover{
    border: 1px solid transparent;
  }

  &.btn-lg{
    padding: 20px 50px 20px 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 14px;
    &:after{
      padding-left: 10px;
      width: 20px;
      top: 20px;
      bottom: 20px;
      right: 20px;
    }
  }

  &.btn-md,&.btn-sm,&.btn-xs{
    padding: 12px 50px 12px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
    &:after{
      padding-left: 10px;
      width: 20px;
      top: 12px;
      bottom: 12px;
      right: 20px;
    }
  }

  &.btn-dark{
    background: @dark-section-bg-color;
    color: @white-text;
    border: 1px solid @dark-section-bg-color;
    &:after{
      border-left: 1px solid rgba(255,255,255,0.3);
      color: rgba(255,255,255,0.3);
    }
  }

  &.btn-light{
    background: @medium-grey-color;
    color: @white-text;
    border: 1px solid @medium-grey-color;
    &:after{
      border-left: 1px solid rgba(0,0,0,0.3);
      color: rgba(0,0,0,0.3);
    }
  }

  &.btn-dark-bg{
    background: transparent;
    color: @white-text;
    border-color: @white-text;
    &:hover{
      border-color: transparent;
    }
    &:after{
      border-left: 1px solid @white-text;
      color: @white-text;
    }
    &.btn-light{
      background: @white-text;
      color: @dark-text;
      border-color: @white-text;
      &:after{
        border-left: 1px solid @dark-text;
        color: @dark-text;
      }
    }
    &.btn-dark{
      background: @medium-grey-color;
      color: @dark-text;
      border: @medium-grey-color;
      &:after{
        border-left: 1px solid @dark-text;
        color: @dark-text;
      }
    }
  }

  &.btn-shopping{
    &:after{
      content: "\f07a";
    }
  }
  &.btn-arrow{
    &:after{
      content: "\f178";
    }
  }
  &.btn-bold-arrow{
    &:after{
      content: "\f061";
    }
  }
  &.btn-resize{
    &:after{
      content: "\f0b2";
    }
  }
  &.btn-forward{
    &:after{
      content: "\f064";
    }
  }
  &.btn-check{
    &:after{
      content: "\f05d";
    }
  }
}

input{
  &.btn{
    &.btn-lg{
      padding: 20px;
    }
    &.btn-md,&.btn-sm,&.btn-xs{
      padding: 12px;
    }
  }
}

/*---------------------------------------------------------------*/
/* 14.03 - SHORTCODES - PROGRESS BARS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.chart, .chart-dark {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  canvas{
    position: absolute;
    top:0;
    left:0;
  }
  h2{
    &:extend(.ease);
    &:extend(.medium-thin-font);
    display: inline-block;
    line-height: 120px;
    z-index: 2;
  }
}

.progressbar .footnote{
  padding: 8px 0 20px;
  display: block;
}

.progressbar{
  &:hover{
    h2{
      color: @secondary-accent-color;
    }
  }
}

.progress{
  height: 20px;
  margin-bottom: 15px;
  background-color: @light-grey-bg-color;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &.nobg{
    background: transparent;
  }

  .progress-bar{
    background-color: @dark-section-bg-color;
    line-height: 20px;
  }
}

/*---------------------------------------------------------------*/
/* 14.04 - SHORTCODES - STEP BOXES */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.step-box{
  text-align: center;

  .step-box-icon{
    &:extend(.ease);
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    &.with-arrow:after{
      font-family: "FontAwesome", sans-serif;;
      color: @light-grey-bg-color;
      width: 90px;
      display: inline-block;
      height: auto;
      position: absolute;
      top: 0;
      left: 145px;
      content: "\f178";
      text-align: center;
      font-size: 28px
    }
  }

  p{
    font-size:13px;
    padding-top:20px;
    width: 50%;
    margin: 0 auto;
    padding-bottom:40px;
  }

  &.light-step-box {
    &:hover{
      p{
        color: @headline-color;
      }
      .step-box-icon{
        color: @white-text;
        background: @accent-color;
      }
    }
    .step-box-icon{
      color: @accent-color;
      background: @light-grey-bg-color;
    }
  }

  &.dark-step-box {
    p{
      color: @light-text;
    }
    .step-box-icon{
      color: @dark-section-bg-color;
      background: @white-text;
    }
    &:hover{
      p{
        color: @white-text;
      }
      .step-box-icon{
        color: @light-grey-bg-color;
        background: @dark-text;
      }
    }
  }
}


@media (max-width: 991px) {
  .step-box-icon.with-arrow:after{
    display:none !important;
  }
}

@media (max-width: 1199px) {
  .step-box-icon.with-arrow:after{
    left: 115px !important;
  }
}

/*---------------------------------------------------------------*/
/* 14.05 - SHORTCODES - TEAM */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.team-carousel {

  .owl-controls {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    .owl-buttons div {
      background: transparent !important;
    }
    .owl-prev {
      left: 50px;
      position: absolute;
      opacity:1;
    }
    .owl-next {
      right: 50px;
      position: absolute;
      opacity:1 !important;
    }
  }
  &.light-team-carousel{
    .team-description {
      border-right: 1px solid @dark-section-bg-color;
    }
  }

  &.dark-team-carousel{
    .team-description {
      border-right: 1px solid @body-font-color;
    }
    h1,h2,p{
      color: @white-text;
    }
  }
}

@media (max-width: 991px) {
  .team-carousel {
    .owl-controls{
      display: none !important;
    }
    img{
      padding-top: 40px;
    }
  }
}

.team-member{
  h3{
    color: @accent-color;
  }
  h4{
    color: @accent-color
  }
}
/*---------------------------------------------------------------*/
/* 14.06 - SHORTCODES - QUOTES */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

blockquote{
  &:extend(.ease);
  &:hover{
    background: transparent !important;
  }
  p{
    font-family: @body-font-family;
    color: @body-font-color;
    -webkit-text-stroke: unset;
    font-size:@blockquote-font-size;
    margin:0;
  }
  footer{
    color: @footnote-color;
    font-size: @footnote-font-size;
  }

  &:hover{
    background: @lighter-grey-bg-color;
  }

  &.dark-border{
    border-color: @accent-color;
  }

  &.colored-bg{
    background: @lighter-grey-bg-color;
    &:hover{
      background: transparent;
    }
  }
}

/*---------------------------------------------------------------*/
/* 14.07 - SHORTCODES - TABS & TOGGLES */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.tab-pane{
  p{
    padding: 20px 0;
  }
}
.nav-tabs{
  border: none;
  >li a{
    &:extend(.ease);
    font-weight: 600;
    border: none;
    border-radius:0;
  }

  >li.active>a, >li.active>a:focus, >li.active>a:hover, >li>a:hover{
    border: none;
    color: @white-text;
    background: @dark-section-bg-color;
  }

  &.dark{
    >li.active>a, >li.active>a:focus, >li.active>a:hover, >li>a:hover{
      border: none;
      color: @white-text;
      background: @medium-grey-color;
    }
  }
}


.panel-default{

  border: none;
  box-shadow: none;
  border-radius:0;

  >.panel-heading+.panel-collapse>.panel-body{
    padding: 20px 0;
    border: none;
  }

  >.panel-heading{
    border: none;
    background-color: @medium-grey-color;
    border-radius: 0;
    a{
      color: @white-text;
    }
  }

  .panel-body p{
    margin:0;
    padding:0;
  }

  &.dark .panel-heading{
    background-color: @dark-section-bg-color;
  }
}

/*---------------------------------------------------------------*/
/* 14.08 - SHORTCODES - SERVICE BOXES */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";


.service{

  .service-icon {
    &:extend(.ease);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: @light-grey-bg-color;
    color: @medium-grey-color;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
  &:hover{
    .service-icon {
      background: transparent;
    }
  }

  &.service-dark{
    .service-icon {
      color: @white-text;
      background: @accent-color;
    }
    &:hover{
      .service-icon {
        background: transparent;
        color: @accent-color;
      }
    }
  }

}
/*---------------------------------------------------------------*/
/* 14.09 - SHORTCODES - LISTS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.item-list{
  padding: 0;
  li {
    display: block;
    padding: 5px 5px 5px 50px;
    position: relative;
  }
  li:before {
    color: @dark-text;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    margin-left: -32px;
    width: 32px;
    content: '\f192';
  }
  &.circlearrow li:before{
    content: '\f0a9';
  }
  &.arrow li:before{
    content: '\f061';
  }
  &.chevron li:before{
    content: '\f054';
  }
  &.check li:before{
    content: '\f00c';
  }
  &.check-circle li:before{
    content: '\f058';
  }
  &.check-square li:before{
    content: '\f046';
  }
  &.xclose li:before{
    content: '\f00d';
  }
  &.forward li:before{
    content: '\f064';
  }
  &.toggles li:before{
    content: '\f152';
  }
  &.times li:before{
    content: '\f057';
  }
  &.play li:before{
    content: '\f16a';
  }
}
/*---------------------------------------------------------------*/
/* 14.10 - SHORTCODES - COUNTERS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";


.counter{
  >i{
    &:extend(.ease);
    float:left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: @light-grey-bg-color;
    color: @medium-grey-color;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px 30px 10px auto;
  }
  h2{
    padding-bottom: 10px;
  }
  &:hover{
    >i{
      background: transparent;
    }
  }
  >.counter-data{
    text-align: left;
    >span{
      display:block;
    }
  }
  &.dark-bg-counter{
    >i{
      background: @white-text;
      color: @dark-text;
    }
    &:hover{
      >i {
        background: transparent;
        color: @white-text;
      }
    }
    h2{
      color: #fff;
    }
  }
}
/*---------------------------------------------------------------*/
/* 14.11 - SHORTCODES - TESTIMONIALS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.testimonial{
  padding: 20px;
  &.light-bg{
    background-color: @lighter-grey-bg-color;
  }
  .ttm-footer{
    >img{
      float: left;
      border-radius: 50px;
      margin: 0 20px 0 0;
      width: 80px;
      height: 80px;
    }
    >span{
      display: block;
    }
  }
}
/*---------------------------------------------------------------*/
/* 14.12 - SHORTCODES - FORMS */
/*---------------------------------------------------------------*/
@import (reference) "../../variables/variables.less";

.wpcf7{
  .row{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 10px;
  }
  label, input, span, textarea{
    width: 100%;
  }
  input, textarea{
    outline: none;
    &:focus{
      outline: none;
    }
  }
  input {
    height: 50px;
  }
  textarea{
    height: 100px;
  }
  input, textarea{
    padding: 20px;
    font-size: 10px;
    line-height: 10px;
    color: @footnote-color;
    background-color: transparent;
    border: 1px solid @light-border;
    box-shadow: none;
    border-radius: 4px;
    font-weight: normal;
  }
  .wpcf7-submit{
    background: @accent-color;
    color: @white-text;
    border: 1px solid @accent-color;
    padding: 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
  }
}
/*---------------------------------------------------------------*/
/* 15 - WOOCOMMERCE */
/*---------------------------------------------------------------*/
@import (reference) "../variables/variables.less";

.woocommerce-page, .woocommerce{
  .woocommerce-MyAccount-navigation{
    li{
      padding-bottom: 10px;
    }
  }
  .woocommerce-Address-title{
    h3{
      font-size:20px;
      padding-bottom:20px;
    }
    a{
      font-size: 10px;
    }
  }
  .login{
    border-color: @light-border;
  }
  .woocommerce-MyAccount-content, .login{
    input{
      display: block;
      width: 100%;
      padding: 15px;
      font-size: 10px;
      line-height: 10px;
      color: @footnote-color;
      background-color: transparent;
      border: 1px solid @light-border;
      box-shadow: none;
      border-radius: 4px;
    }
    input[type="submit"]{
      background: #1e1f20;
      color: @white-text;
      text-align: center;
      font-size: 10px;
      width: auto;
      text-transform: uppercase;
    }
    legend{
      font-size: 14px;
      padding-top: 10px;
    }
  }
  .sidebar{
    .widget_layered_nav_filters{
      li{
        padding-right: 10px;
        font-size:12px;
        a:before{
          color: @accent-color;
        }
      }
    }
    .woocommerce.widget_price_filter{
      form{
        border: none;
        height: auto;
      }
      .price_slider_amount{
        padding-top: 15px;
        .price_label{
          font-size: 12px;
          padding-top: 15px;
        }
      }
      button{
        padding: 12px;
        background: @dark-section-bg-color;
        color: @white-text;
        border: 1px solid @dark-section-bg-color;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        outline: none;
      }
      .ui-slider{
        background: @light-grey-bg-color;
        .ui-slider-range{
          background-color: @accent-color;
        }
        .ui-slider-handle{
          background-color: @accent-color;;
        }
      }
    }
    .widget_shopping_cart_content{
      .buttons{
        a{
          padding: 12px;
          background: @dark-section-bg-color;
          color: @white-text;
          border: 1px solid @dark-section-bg-color;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          font-size: 14px;
        }
      }
    }
    .widget.woocommerce.widget_product_search {
      position: relative;
      &:before {
        font-family: FontAwesome, sans-serif;
        content: '\f002';
        color: @white-text;
        top: 0;
        right: 0;
        width: 40px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        z-index: 3;
        position: absolute;
        pointer-events: none;
      }
    }
    form{
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 10px;
        line-height: 10px;
        color: @footnote-color;
        background-color: transparent;
        border: 1px solid @light-border;
        box-shadow: none;
        border-radius: 4px;
        height: 50px;
        label{
          display: none;
        }
        input[type="search"]{
          padding: 15px;
          border: none;
          outline: none !important;
          width: 100%;
        }
        input[type="submit"]{
          z-index: 2;
          background: #1e1f20;
          height: 50px;
          width: 40px;
          border-radius: 0 4px 4px 0;
          box-shadow: none;
          outline: 0;
          color: #fff;
          text-align: center;
          overflow: hidden;
          font-size: 16px;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
        }
    }
    .star-rating{
      color: @light-text;
      margin: 10px 0;
    }
    ul.cart_list li, ul.product_list_widget li{
      padding-bottom:10px;
      img {
        width: 70px;
      }
    }
    .total{
      padding-top: 20px;
      strong{
        font-weight: 700 !important;
        color: @headline-color;
      }
    }
    .wc-layered-nav-rating{
      .star-rating{
        margin: 0;
      }
    }
  }
  .woocommerce-billing-fields{
    h3{
      padding-bottom: 30px;
      font-size: 28px;
    }
  }
  .woocommerce-message, .woocommerce-info{
    border-top-color: @accent-color;
    &:before{
      color: @accent-color;
    }
  }

  #order_review_heading{
    padding: 20px 0;
  }

  form.checkout{
    input{
      outline: none;
    }
    textarea{
      outline: none;
      height: 120px;
    }
    input, textarea{
      display: block;
      width: 100%;
      padding: 10px 20px 10px 20px;
      font-size: 10px;
      line-height: 10px;
      color: @light-text;
      background-color: transparent;
      border: 1px solid @light-border;
      box-shadow: none;
      border-radius: 4px;
    }
    #submit{
      padding: 20px;
      width: auto;
      background: @dark-section-bg-color;
      color: @white-text;
      border: 1px solid @dark-section-bg-color;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      font-size: 14px;
    }
    #payment input{
      width: auto !important;
      display: inline-block !important;
    }
  }

  #reviews{
    #review_form_wrapper{
      .comment-respond{
        h3{
          padding-bottom: 30px;
        }
      }
      form{
        input{
          outline: none;
        }
        textarea{
          outline: none;
          height: 120px;
        }
        input, textarea{
          display: block;
          width: 100%;
          padding: 20px 0 20px 20px;
          font-size: 10px;
          line-height: 10px;
          color: @light-text;
          background-color: transparent;
          border: 1px solid @light-border;
          box-shadow: none;
          border-radius: 4px;
        }
        #submit{
          padding: 20px;
          width: auto;
          background: @dark-section-bg-color;
          color: @white-text;
          border: 1px solid @dark-section-bg-color;
          border-radius: 8px;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          font-size: 14px;
        }
      }
    }
    #comments {
      .woocommerce-Reviews-title{
        padding-bottom:80px;
      }
      ol.commentlist {
        padding-left:0;
        .star-rating{
          float: none;
          margin-bottom: 10px;
        }
        li {
          img.avatar{
            width: 60px;
            border:none;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background: none;
            padding: 0;
          }
          .comment-text{
            border: none;
            padding: 0 0 30px;
            margin: 0 0 0 100px;
          }
        }
        .meta{
          font-size: @body-font-size;
          padding-bottom:0;
          strong{
            font-weight: 700 !important;
            text-transform: uppercase;
            color: @headline-color;
            padding-right: 5px;
          }
          time{
            padding-left: 5px;
            font-size: 12px;
            color: @light-text;
          }
        }
      }
    }
  }
  .panel{
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .posted_in, .tagged_as {
    display:block;
    a {
      font-weight: bold;
    }
  }
  .quantity{
    height: 30px;
    input{
      height: 100%;
      outline: none !important;
    }
  }
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt{
    background: @dark-section-bg-color;
    outline: none !important;
    &:hover{
      background: @dark-section-bg-color;
    }
  }
  h2.site-description, .entry-title{
    color: @headline-color;
    font-weight: 600;
    font-family: @headline-font-family;
    padding-bottom: 20px;
  }
  h2{
    padding-bottom: 40px;
    padding-top: 30px;
    font-size: 26px;
  }
  ul.products{
    li.product{
      width: @woocommerce-product-width;
      text-align:center;
      h3{
        font-size:20px;
        color: @headline-color;
        padding-bottom: 5px;
      }
      .price{
        font-size:26px;
        font-weight: 100;
        font-family: @headline-font-family;
        color: @headline-color;
        del{
          color: @accent-color;
          padding-bottom:5px;
          font-size:16px;
        }
        ins{
          font-weight: 100;
        }
      }
      .star-rating{
        color: @dark-section-bg-color;
      }
      .woo-imagewrapper{
        position:relative;
        .woo-overlay{
          &:extend(.ease);
          position:absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.9);
          opacity:0;
          top:0;
          left:0;
          padding-top: 45%;
          a{
            background: none;
            color: @accent-color;
            font-size: 20px;
            padding: 10px;
          }
        }
      }
      &:hover{
        .woo-imagewrapper{
          .woo-overlay{
            opacity:1;
          }
        }
      }
    }
  }
  span.onsale{
    background-color: @accent-color;
    padding:0;
    z-index:2;
  }
  div.product{
    .woocommerce-Reviews{
      padding-top: 30px;
    }
    .woocommerce-tabs{
      padding-top: 60px;
      ul.tabs{
        &:before{
          border-color: @light-border !important;
        }
        padding: 30px 0 0;
        margin:0;
        li{
          background: @dark-section-bg-color;
          border-radius: 0;
          &:after{
            display:none;
          }
          &:before {
            display: none;
          }
          a{
            color: @white-text;
            &:hover{
              color: @white-text;
            }
          }
          &.active{
            a{
              color: @headline-color;
            }
          }
        }
      }
    }
    .star-rating{
      color: @accent-color;
    }
    .woocommerce-review-link{
      font-size: 12px;
    }
    p.price, span.price{
      font-family: @headline-font-family;
      color: @accent-color;
      font-size:40px;
      font-weight: 100;
      del{
        font-size:20px;
      }
      ins{
        font-weight: 100;
      }
    }
  }
  .products{
    .star-rating{
      float:none;
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-top: 30px;
    }
  }
  h1.page-title{
    display:none;
  }
  form.woocommerce-ordering,form.woocommerce-ordering:focus{
    display: block;
    font-size: 10px;
    padding: 5px 0 5px 5px;
    line-height: 10px;
    color: @footnote-color;
    background-color: transparent;
    border: 1px solid @light-border;
    box-shadow: none;
    border-radius: 4px;
    select{
      border:none;
      padding: 5px 1px 5px 15px;
      outline: none !important;
    }
  }
  .woocommerce-result-count{
    font-size:12px;
    padding-top: 5px;
  }
  .related.products{
    ul.products {
      li.product {
        width: 22.05%;
      }
    }
  }
}



@media (max-width: 768px) {
  .woocommerce-page, .woocommerce{
    ul.products{
      li.product{
        width: 48%;
      }
    }
    .related.products{
      ul.products {
        li.product {
          width: 48%;
        }
      }
    }
  }
}

.woo-header{
  .breadcrumb {
    a{
      margin-right: 10px;
    }
  }
}

