@import (reference) "variables/variables.less";



h1, h2, h3, h4, h5, h6 {
  font-family: @headline-font-family;
  line-height: 1;
  margin:0;
}


h1{
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  color: @h1-font-color;
  font-family: @h1-font-family;
}

h2{
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  color: @h2-font-color;
  font-family: @h2-font-family;
}

h3{
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  color: @h3-font-color;
  font-family: @h3-font-family;
}

h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  color: @h4-font-color;
  font-family: @h4-font-family;
}

h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  color: @h5-font-color;
  font-family: @h5-font-family;
}

h6 {
  font-weight: @h6-font-weight;
  font-size: @h6-font-size;
  color: @h6-font-color;
  font-family: @h6-font-family;
}

body, p{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
  font-family: @body-font-family;
}
div{
  font-weight: @body-font-weight;
  color: @body-font-color;
  line-height: @body-line-height;
  font-size: @body-font-size;
}

p{
  -webkit-text-stroke: @stroke-text;
  line-height: @body-line-height;
  padding-bottom:20px;
  font-size: @body-font-size;
}

b, strong, .strong {
  font-weight: 900 !important;
}

a{
  color: @body-font-color;
  &:hover,&:visited,&:focus{
    color: @body-font-color;
    text-decoration: none;
  }
}

.white-text, #white-text{
  color: @white-text;
}

.thin-font{
  font-weight: 100;
}

.medium-thin-font{
  font-weight: 300;
}

.footnote{
  font-size:@footnote-font-size;
  color: @footnote-color;
}

.colored-bg-text-dark{
  display: inline-block;
  padding: 0 5px;
  background: @accent-color;
  color: @white-text;
  -webkit-text-stroke: initial;
}

.colored-bg-text-light{
  display: inline-block;
  padding: 0 5px;
  background: @medium-grey-color;
  color: @white-text;
  -webkit-text-stroke: initial;
}

.highlight{
  color: @medium-grey-color;
  -webkit-text-stroke: initial;
}

small{
  font-size:10px;
}


.drop-cap{
  -webkit-text-stroke: initial;
  float: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 3px;
  color: @accent-color;

  &.dropcap-bg{
    padding:0;
    margin: 4px 10px 1px 0;
    display: inline-block;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    width: 38px;
    text-align: center;
    height: 38px;
  }
  &.dropcap-bg-round{
    padding:0;
    display: inline-block;
    font-size: 32px;
    line-height: 38px;
    width: 38px;
    text-align: center;
    height: 38px;
    margin: 4px 10px 1px 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
