h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  margin: 0;
}
h1 {
  font-weight: 600;
  font-size: 46px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-weight: 100;
  font-size: 40px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
h4 {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
h5 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
h6 {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
body,
p {
  font-weight: normal;
  color: #4f4f4f;
  line-height: 125%;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
div {
  font-weight: normal;
  color: #4f4f4f;
  line-height: 125%;
  font-size: 14px;
}
p {
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
  line-height: 125%;
  padding-bottom: 20px;
  font-size: 14px;
}
b,
strong,
.strong {
  font-weight: 900 !important;
}
a {
  color: #4f4f4f;
}
a:hover,
a:visited,
a:focus {
  color: #4f4f4f;
  text-decoration: none;
}
.white-text,
#white-text {
  color: #ffffff;
}
.thin-font {
  font-weight: 100;
}
.medium-thin-font {
  font-weight: 300;
}
.footnote {
  font-size: 11px;
  color: #b6b6b6;
}
.colored-bg-text-dark {
  display: inline-block;
  padding: 0 5px;
  background: #1e1f20;
  color: #ffffff;
  -webkit-text-stroke: initial;
}
.colored-bg-text-light {
  display: inline-block;
  padding: 0 5px;
  background: #cbcbcb;
  color: #ffffff;
  -webkit-text-stroke: initial;
}
.highlight {
  color: #cbcbcb;
  -webkit-text-stroke: initial;
}
small {
  font-size: 10px;
}
.drop-cap {
  -webkit-text-stroke: initial;
  float: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 10px;
  padding-left: 3px;
  color: #1e1f20;
}
.drop-cap.dropcap-bg {
  padding: 0;
  margin: 4px 10px 1px 0;
  display: inline-block;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  width: 38px;
  text-align: center;
  height: 38px;
}
.drop-cap.dropcap-bg-round {
  padding: 0;
  display: inline-block;
  font-size: 32px;
  line-height: 38px;
  width: 38px;
  text-align: center;
  height: 38px;
  margin: 4px 10px 1px 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
