@import (reference) "variables/variables.less";

.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
  width:100%;
  position:relative;
  padding:0;
  .slider_caption1 {
    font-family: @headline-font-family;
    font-size: 60px;
    color: @slider-font-color;
    font-weight: 100;
    line-height: 85px;
  }

  .slider_caption2 {
    font-family: @headline-font-family;
    font-size: 60px;
    color: @slider-font-color;
    font-weight: bold;
    line-height: 85px;
  }
  .slider_caption3 {
    font-family: @body-font-family;
    font-size: 14px;
    color: @slider-font-color;
    line-height: 14px;
  }

  .slider_caption4 {
    font-family: @body-font-family;
    font-size: 14px;
    color: @slider-font-color;
  }
  .tp-banner{
    width:100%;
    position:relative;
  }

  .tp-banner-fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
  }
}
