.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0 30px;
}
/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner-container .slider_caption1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: 100;
  line-height: 85px;
}
.tp-banner-container .slider_caption2 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  line-height: 85px;
}
.tp-banner-container .slider_caption3 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 14px;
}
.tp-banner-container .slider_caption4 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.tp-banner-container .tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-container .tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
