extend ' .ease' has no matches
extend ' .ease' has no matches
.blog-masonry .item-masonry .well-masonry {
  background-color: #fff;
}
.blog-masonry .item-masonry .well-masonry:hover {
  background-color: transparent;
}
.blog-masonry .item-masonry .well-masonry .post-title {
  display: block;
  padding-bottom: 20px;
}
.blog-masonry .item-masonry .well-masonry .post-info {
  color: #000000;
  font-size: 11px;
}
.blog-masonry .item-masonry .well-masonry .post-info i {
  font-size: 14px;
  padding-right: 8px;
}
.blog-masonry .item-masonry .well-masonry .post-info .fa-calendar {
  padding: 0 8px;
}
.blog-masonry .item-masonry:hover h5 {
  color: #cbcbcb;
}
.page-numbers,
.woocommerce nav.woocommerce-pagination ul.page-numbers {
  padding-left: 0;
  border: none;
}
.page-numbers li,
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
  display: inline-block;
  margin-right: 3px;
  border: none;
}
.page-numbers li a,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #ddd;
  color: #1e1f20;
  font-weight: bold;
}
.page-numbers li a:hover,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a:hover,
.page-numbers li a:active,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a:active,
.page-numbers li a:focus,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a:focus,
.page-numbers li span,
.woocommerce nav.woocommerce-pagination ul.page-numbers li span {
  color: #ffffff;
  background: #1e1f20;
  border: 1px solid #1e1f20;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 7px 12px;
  font-weight: bold;
}
.post-info {
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
}
.post-info i {
  color: #000000;
  font-size: 14px;
  padding-right: 12px;
}
.post-info i.fa-calendar {
  padding-left: 12px;
}
.post-info span {
  font-size: 12px;
  padding-right: 12px;
}
.post-date i {
  color: #1e1f20;
  font-size: 40px;
  padding-bottom: 20px;
}
.post {
  border-bottom: 1px solid #ddd;
}
.post-tags,
.post-tags a {
  color: #000000;
  font-weight: bold;
}
.post-tags i,
.post-tags a i {
  padding-right: 15px;
}
.comments {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
.comments .children {
  list-style: none;
}
.comments img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  margin-right: 20px;
}
.comments .comment-body {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
}
.comments .comment-body p img {
  float: none;
}
.comments .children {
  padding-left: 100px;
}
.comments li {
  clear: both;
  padding-bottom: 15px;
}
.comments .comment-date {
  padding: 10px 0;
}
.comments .comment-date a {
  font-size: 11px;
  color: #b6b6b6;
}
.comments .name {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding-right: 15px;
}
.comments .reply {
  color: #cbcbcb;
}
.comments .reply a {
  color: #cbcbcb;
}
.comments-container h3 {
  font-size: 24px;
  padding-bottom: 40px;
}
.sticky-post {
  position: absolute;
  z-index: 20;
  top: 9px;
  left: 9px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 30px;
  border: 15px solid #1e1f20;
  border-top: 0 solid;
  border-bottom: 10px solid transparent;
  font: 400 100% / normal Arial, Helvetica, sans-serif;
  color: #ffffff;
  -o-text-overflow: clip;
  text-overflow: clip;
}
