@import (reference) "../variables/variables.less";


.blog-masonry{
  .item-masonry{
    .well-masonry{
      background-color: @masonry-post-bg-color;
      &:hover{
        background-color: transparent;
      }
      .post-title {
        display:block;
        padding-bottom: 20px;
        h5{
          &:extend(.ease);
        }
      }
      .post-info{
        color: @headline-color;
        font-size: 11px;
        i{
          font-size: 14px;
          padding-right: 8px;
        }
        .fa-calendar{
          padding: 0 8px;
        }
      }
    }
    &:hover{
      h5 {
        color: @secondary-accent-color;
      }
    }
  }
}

.page-numbers, .woocommerce nav.woocommerce-pagination ul.page-numbers{
  padding-left:0;
  border: none;
  li{
    display: inline-block;
    margin-right: 3px;
    border: none;
    a{
      &:extend(.ease);
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 7px 12px;
      border: 1px solid @light-border;
      color: @accent-color;
      font-weight: bold;
    }
    a:hover, a:active, a:focus, span{
        color: @white-text;
        background: @accent-color;
        border: 1px solid @dark-section-bg-color;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 7px 12px;
        font-weight: bold;
    }
  }
}


.post-info{
  -webkit-text-stroke: @stroke-text;
  i{
    color: @headline-color;
    font-size: 14px;
    padding-right: 12px;
    &.fa-calendar{
      padding-left: 12px;
    }
  }
  span{
    font-size: 12px;
    padding-right: 12px;
  }
}

.post-date{
  i{
    color: @accent-color;
    font-size: 40px;
    padding-bottom: 20px;
  }
}

.post{
  border-bottom: 1px solid @light-border;
}

.post-tags, .post-tags a{
  color: @headline-color;
  font-weight: bold;
  i {
    padding-right: 15px;
  }
}

.comments{
  list-style: none;
  margin: 0 0 30px;
  padding: 0;

  .children{
    list-style: none;
  }

  img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float:left;
    margin-right:20px;
  }

  .comment-body{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid @light-grey-bg-color;
    p{
      img{
        float: none;
      }
    }
  }

  .children{
    padding-left: 100px;
  }

  li{
    clear:both;
    padding-bottom: 15px;
  }

  .comment-date{
    padding: 10px 0;
    a {
      font-size: @footnote-font-size;
      color: @footnote-color;
    }
  }

  .name{
    font-weight: bold;
    color: @headline-color;
    text-transform: uppercase;
    padding-right: 15px;
  }
  .reply{
    color: @light-text;
    a{
      color: @light-text;
    }
  }
}


.comments-container {
  h3{
    font-size: 24px;
    padding-bottom: 40px;
  }
}

.sticky-post {
  position: absolute;
  z-index:20;
  top: 9px;
  left: 9px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 30px;
  border: 15px solid @accent-color;
  border-top: 0 solid;
  border-bottom: 10px solid transparent;
  font: 400 100%/normal Arial,Helvetica,sans-serif;
  color: @white-text;
  -o-text-overflow: clip;
  text-overflow: clip;
}



