@import (reference) "../variables/variables.less";


body{
  overflow-x:hidden;
  background-color: @background-color;
}

.preloader{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: @preloader-bg;
  z-index:999999;
}

section{
  position: relative;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

img{
  max-width:100%;
  height: auto;
}

.easein{
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
}

.easeout{
  transition: all .4s ease-out;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
}

.ease{
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.header {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.align-center{
  text-align:center;
}

.align-left{
  text-align:left;
}

.align-right{
  text-align:right;
}

@media (max-width: 991px) {
  .sm-center {
    text-align: center;
  }
}

.spacer{
  display:block;
  position: absolute;
  bottom: -30px;
  left:0;
  right:0;
  margin: 0 auto;
  z-index:2;
}
.spacer-inner{
  padding: 15px;
}

.vc_row{
  position: relative;
}

.dark-bg{
  background: @dark-section-bg-color;
}

.light-bg{
  background: @light-grey-bg-color;
}

.lower-footer{
  background: @lower-footer-bg-color;
  color: @lower-footer-text-color;
  div, p, a{
    color: @lower-footer-text-color;
  }
  h1,h2,h3,h4,h5,h6{
    color: @lower-footer-heading-color;
  }
  h3{
    padding-bottom: 40px;
  }
}

.social-widget{
  &a,i {
    color: @upper-footer-link-color;
    font-size: 48px;
  }
}

.upper-footer{
  background-color: @upper-footer-bg-color;
}

.masonry-grid{
  .item-masonry{
    width: 25%;
    .well-masonry{
        .post-title{
          display: block;
          padding-bottom: 20px;
        }
        .post-info {
          color: @headline-color;
          font-size: 11px;
        }
        &:extend(.ease);
        padding: 19px;
        margin: 8px;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        &:hover {
          background-color: transparent !important;
        }
    }
  }
  &.masonry-2-col{
    .item-masonry {
      width: 50%;
    }
  }
  &.masonry-3-col{
    .item-masonry {
      width: 33%;
    }
  }
}

@media (max-width: 1200px) {
  .masonry-grid{
    .item-masonry{
      width: 33%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 50%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 33%;
      }
    }
  }
}

@media (max-width: 991px) {
  .masonry-grid{
    .item-masonry{
      width: 50%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 50%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 50%;
      }
    }
  }
}
@media (max-width: 767px){
  .masonry-grid{
    .item-masonry{
      width: 100%;
    }
    &.masonry-2-col{
      .item-masonry {
        width: 100%;
      }
    }
    &.masonry-3-col{
      .item-masonry {
        width: 100%;
      }
    }
  }
}


.flexslider{
  margin:0;
  .flex-direction-nav{
    display:block;
    position:absolute;
    left:0;
    bottom:-4px;
    .flex-nav-prev,
    .flex-nav-next,
    .flex-nav-prev .flex-prev,
    .flex-nav-next .flex-next{
      position:relative;
      text-align: center;
      left:auto;
      top: auto;
      right: auto;
      bottom:auto;
      opacity:1;
      display: inline-block;
    }
    .flex-prev, .flex-next{
      font-size:0;
    }
    a{
      background: @dark-section-bg-color;
      width:25px;
      height:25px;
      line-height:25px;
      &:before{
        font-size:10px;
        color: @white-text;
      }
      &.flex-prev{
        margin-right:1px;
        &:before{
          font-family:FontAwesome, sans-serif;
          content: "\f053";
        }
      }
      &.flex-next{
        &:before{
          font-family:FontAwesome, sans-serif;
          content: "\f054";
        }
      }
    }
  }
  &:hover{
    .flex-nav-prev,
    .flex-nav-next,
    .flex-nav-prev .flex-prev,
    .flex-nav-next .flex-next{
      left:auto;
      top: auto;
      right: auto;
      bottom:auto;
      opacity:1;
    }
  }
}
.wp-caption,.wp-caption-text,.screen-reader-text,.gallery-caption,.bypostauthor{

}
.alignright{
  text-align: right;
}
.alignleft{
  text-align:left;
}
.aligncenter{
  text-align: left;
}