body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.preloader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 999999;
}
section {
  position: relative;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
}
.easein {
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.easeout {
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.ease,
.masonry-grid .item-masonry .well-masonry {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header {
  width: 100%;
  height: auto;
  max-height: 700px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
@media (max-width: 991px) {
  .sm-center {
    text-align: center;
  }
}
.spacer {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}
.spacer-inner {
  padding: 15px;
}
.vc_row {
  position: relative;
}
.dark-bg {
  background: #1e1f20;
}
.light-bg {
  background: #f4f4f4;
}
.lower-footer {
  background: #1e1f20;
  color: #aaaaaa;
}
.lower-footer div,
.lower-footer p,
.lower-footer a {
  color: #aaaaaa;
}
.lower-footer h1,
.lower-footer h2,
.lower-footer h3,
.lower-footer h4,
.lower-footer h5,
.lower-footer h6 {
  color: #ffffff;
}
.lower-footer h3 {
  padding-bottom: 40px;
}
.social-widgeta,
.social-widget i {
  color: #000000;
  font-size: 48px;
}
.upper-footer {
  background-color: #ffffff;
}
.masonry-grid .item-masonry {
  width: 25%;
}
.masonry-grid .item-masonry .well-masonry {
  padding: 19px;
  margin: 8px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.masonry-grid .item-masonry .well-masonry .post-title {
  display: block;
  padding-bottom: 20px;
}
.masonry-grid .item-masonry .well-masonry .post-info {
  color: #000000;
  font-size: 11px;
}
.masonry-grid .item-masonry .well-masonry:hover {
  background-color: transparent !important;
}
.masonry-grid.masonry-2-col .item-masonry {
  width: 50%;
}
.masonry-grid.masonry-3-col .item-masonry {
  width: 33%;
}
@media (max-width: 1200px) {
  .masonry-grid .item-masonry {
    width: 33%;
  }
  .masonry-grid.masonry-2-col .item-masonry {
    width: 50%;
  }
  .masonry-grid.masonry-3-col .item-masonry {
    width: 33%;
  }
}
@media (max-width: 991px) {
  .masonry-grid .item-masonry {
    width: 50%;
  }
  .masonry-grid.masonry-2-col .item-masonry {
    width: 50%;
  }
  .masonry-grid.masonry-3-col .item-masonry {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .masonry-grid .item-masonry {
    width: 100%;
  }
  .masonry-grid.masonry-2-col .item-masonry {
    width: 100%;
  }
  .masonry-grid.masonry-3-col .item-masonry {
    width: 100%;
  }
}
.flexslider {
  margin: 0;
}
.flexslider .flex-direction-nav {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.flexslider .flex-direction-nav .flex-nav-prev,
.flexslider .flex-direction-nav .flex-nav-next,
.flexslider .flex-direction-nav .flex-nav-prev .flex-prev,
.flexslider .flex-direction-nav .flex-nav-next .flex-next {
  position: relative;
  text-align: center;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  opacity: 1;
  display: inline-block;
}
.flexslider .flex-direction-nav .flex-prev,
.flexslider .flex-direction-nav .flex-next {
  font-size: 0;
}
.flexslider .flex-direction-nav a {
  background: #1e1f20;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.flexslider .flex-direction-nav a:before {
  font-size: 10px;
  color: #ffffff;
}
.flexslider .flex-direction-nav a.flex-prev {
  margin-right: 1px;
}
.flexslider .flex-direction-nav a.flex-prev:before {
  font-family: FontAwesome, sans-serif;
  content: "\f053";
}
.flexslider .flex-direction-nav a.flex-next:before {
  font-family: FontAwesome, sans-serif;
  content: "\f054";
}
.flexslider:hover .flex-nav-prev,
.flexslider:hover .flex-nav-next,
.flexslider:hover .flex-nav-prev .flex-prev,
.flexslider:hover .flex-nav-next .flex-next {
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  opacity: 1;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: left;
}
