extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
.navbar {
  padding: 25px 100px 10px 100px;
  background: #ffffff;
  border: none;
  margin: 0;
  position: relative;
}
.navbar.admin-bar-showing {
  top: 32px;
}
.navbar .navheader {
  margin: 5px 0 30px 30px;
  padding-left: 30px;
  border-left: 1px solid #e6e6e7;
  display: inline-block;
}
.navbar .navheader h5 {
  margin: 0;
  color: #1e1f20;
}
.navbar .dropdown .toggleDropdown {
  display: none;
}
.navbar .cart-header {
  float: right;
  padding-top: 10px;
  padding-left: 40px;
}
.navbar .cart-header .amount {
  font-weight: bold;
}
.navbar .cart-header i {
  color: #000;
  padding-right: 10px;
}
.navbar .cart-header a {
  color: #000;
  padding-top: 5px;
  display: inline-block;
}
.navbar .social-header {
  float: right;
  padding-top: 8px;
  padding-left: 40px;
}
.navbar .social-header > ul {
  padding: 0;
  list-style: none;
}
.navbar .social-header > ul > li {
  display: inline-block;
}
.navbar .social-header a {
  color: #cbcbcb;
  margin-left: 5px;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
}
.navbar .social-header a:hover {
  color: #ffffff;
  background: #cbcbcb;
}
.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
}
.navbar .dropdown-menu {
  min-width: 250px;
  width: 250px;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar .dropdown-menu > li {
  border-bottom: 1px solid #dcdedf;
}
.navbar .dropdown-menu > li > a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #000;
}
.navbar .dropdown-menu .dropdown-menu > li {
  border-bottom: 1px solid #dcdedf;
}
.navbar .navbar-toggle .icon-bar {
  background: #cbcbcb;
}
.navbar .navbar-nav > li:hover {
  background: none;
}
.navbar .navbar-nav > li:hover a {
  background: none;
}
.navbar .navbar-nav > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.navbar .navbar-nav > li > a:hover {
  color: #cbcbcb;
}
.navbar .navbar-nav > .active > a {
  color: #cbcbcb;
}
.navbar .navbar-nav a:hover {
  background: none;
}
@media (max-width: 1200px) {
  .navbar {
    padding: 25px 20px;
  }
  .social-header,
  .cart-header {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .navbar-collapse.in {
    display: block !important;
    overflow: visible;
  }
  .navbar .dropdown .toggleDropdown {
    color: #1e1f20;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    width: 32px;
    height: 32px;
    float: right;
    cursor: pointer;
  }
  .navbar .dropdown a {
    display: inline-block;
  }
  .navbar .navbar-toggle {
    display: block;
  }
  .navbar .navbar-header {
    float: none;
  }
  .navbar .navheader {
    display: none;
  }
  .navbar .navbar-right {
    float: none !important;
    margin-top: 45px;
    margin-right: 0;
  }
  .navbar .navbar-nav > li {
    float: none !important;
  }
  .navbar .navbar-nav > li > a {
    padding: 10px 0 10px 30px;
  }
  .navbar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar .navbar-nav .open .dropdown-menu > li {
    padding: 3px 30px;
  }
  .navbar .navbar-nav .open .dropdown-menu > li:last-child {
    border-bottom: none;
  }
  .navbar .navbar-nav .open .dropdown-menu > li:hover {
    border-color: #000;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-menu > li {
    padding: 3px 30px;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-menu > li:last-child {
    border-bottom: none;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-menu > li:hover {
    border-color: #000;
  }
  .navbar.navbar-fixed-bottom .navbar-collapse,
  .navbar.navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    position: fixed;
  }
  .navbar ul.nav li.dropdown > ul.dropdown-menu {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    max-height: 0;
  }
  .navbar ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    max-height: 1000px;
  }
  .navbar ul.nav li.dropdown:hover > ul.dropdown-menu > li.dropdown:hover > ul.dropdown-menu {
    top: -2px;
    left: 100%;
    width: 250px;
  }
  .navbar .dropdown-menu:before {
    position: absolute;
    width: 250px;
    height: 3px;
    background: #1e1f20;
    display: block;
    content: '';
    left: 0;
    top: 0;
  }
  .header {
    margin-top: 100px;
  }
  .helper-dropdown-menu-li,
  .navbar .dropdown-menu > li,
  .navbar .dropdown-menu .dropdown-menu > li {
    display: block;
    padding: 12px 5px 12px 35px;
    background: url(../../images/bullet.png) no-repeat left 20px top 20px;
    position: relative;
  }
  .helper-dropdown-menu-li-hover,
  .navbar .dropdown-menu > li:hover,
  .navbar .dropdown-menu > li > ul li:hover,
  .navbar .dropdown-menu > li > ul li:hover > ul li:hover {
    background: url(../../images/bullet-white.png) no-repeat left 30px top 20px;
    background-color: #1e1f20;
    color: #fff;
    overflow: visible;
  }
  .helper-dropdown-menu-li-hover-a,
  .navbar .dropdown-menu > li:hover > a,
  .navbar .dropdown-menu > li > ul li:hover > a,
  .navbar .dropdown-menu > li > ul li:hover > ul li:hover > a {
    color: #fff;
    overflow: visible;
  }
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul {
  padding: 0;
  list-style: none;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul li {
  padding-bottom: 5px;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item ul {
  padding: 0 !important;
  list-style: none !important;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item ul li {
  padding-bottom: 5px !important;
}
@media (min-width: 992px) {
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
    font-family: Arial, sans-serif;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > ul.mega-sub-menu > li.mega-menu-item {
    font-family: Arial, sans-serif;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
    font-family: 'Roboto', sans-serif;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout > a.mega-menu-link {
    font-family: 'Roboto', sans-serif;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    font-family: Arial, sans-serif;
    background-image: url(../../images/bullet.png);
    background-position: left 20px top 20px;
    background-repeat: no-repeat;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link:hover {
    background-image: url(../../images/bullet-white.png);
    background-position: left 30px top 20px;
    background-repeat: no-repeat;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul {
    padding: 0;
    list-style: none;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout > ul.mega-sub-menu li.mega-menu-item ul li {
    padding-bottom: 5px;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item ul {
    padding: 0 !important;
    list-style: none !important;
  }
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item ul li {
    padding-bottom: 5px !important;
  }
}
