@import (reference) "../variables/variables.less";

.navbar {
  &.admin-bar-showing{
    top: 32px;
  }
  padding: 25px 100px 10px 100px;
  background: @navbar-background;
  border: none;
  margin: 0;
  position: relative;
  .navheader {
    margin: 5px 0 30px 30px;
    padding-left: 30px;
    border-left: 1px solid @logo-right-border;
    display: inline-block;
    h5 {
      margin: 0;
      color: @accent-color;
    }
  }
  .dropdown {
    .toggleDropdown {
      display: none;
    }
  }
  .cart-header{
    float: right;
    padding-top: 10px;
    padding-left: 40px;
    .amount{
      font-weight: bold;
    }
    i{
      color: @menu-font-color;
      padding-right:10px;
    }
    a{
      color: @menu-font-color;
      padding-top: 5px;
      display: inline-block;
    }
  }
  .social-header {
    > ul{
      padding: 0;
      list-style: none;
      >li{
        display: inline-block;
    }
    }
    float: right;
    padding-top: 8px;
    padding-left: 40px;
    a{
      &:extend(.ease);
      color: @secondary-accent-color;
      margin-left: 5px;
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 50%;
      text-align: center;
      &:hover{
        color: @navbar-background;
        background: @secondary-accent-color;
      }
    }
  }
  .dropdown-menu > li,
  .dropdown-menu .dropdown-menu > li,
  .dropdown-menu > li a,
  .dropdown-menu > li > ul li a,
  .dropdown-menu > li > ul li > ul li a,
  ul.nav li.dropdown:hover > ul.dropdown-menu{
    &:extend(.ease);
  }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
  .nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
  }

  .dropdown-menu {
    min-width: @dropdown-size;
    width: @dropdown-size;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    >li{
      border-bottom: 1px solid @submenu-item-bottom-border;
      >a{
        font-family: @submenu-font-family;
        font-size: @submenu-font-size;
        color: @submenu-font-color;
      }
    }
    .dropdown-menu{
      >li{
        border-bottom: 1px solid @submenu-item-bottom-border;
      }
    }
  }
  .navbar-toggle .icon-bar {
    background: @hamburger-menu-color;
  }
  .navbar-nav{
    >li{
      &:hover{
        background: none;
        a{
          background: none;
        }
      }
      >a{
        &:extend(.ease);
        font-family: @menu-font-family;
        font-size: @menu-font-size;
        font-weight: @menu-font-weight;
        color: @menu-font-color;
        &:hover{
          color: @secondary-accent-color;
        }
      }
    }
    >.active{
      >a{
        color: @secondary-accent-color;
      }
    }
    a{
      &:hover{
        background: none;
      }
    }
  }
}



// medium screen navbar view
@media (max-width: 1200px) {
  .navbar {
    padding: 25px 20px;
  }

  .social-header, .cart-header {
    display: none;
  }
}

// mobile navbar view
@media (max-width: 991px) {

  .navbar{
    .navbar-collapse{
      &.collapse {
        display: none !important;
      }
      &.in {
        display: block !important;
        overflow: visible;
      }
    }

    .dropdown{
      .toggleDropdown{
        color: @dark-text;
        font-family: FontAwesome, sans-serif;
        display: inline-block;
        width: 32px;
        height: 32px;
        float:right;
        cursor:pointer;
      }
      a {
        display: inline-block;
      }
    }

    .navbar-toggle {
      display: block;
    }

    .navbar-header {
      float: none;
    }

    .navheader {
      display: none;
    }
    .navbar-right {
      float: none !important;
      margin-top: 45px;
      margin-right: 0;
    }
    .navbar-nav{
      >li{
        float: none !important;
        > a {
          padding: 10px 0 10px 30px;
        }
      }
      .open{
        .dropdown-menu {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          background-color: transparent;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          > li{
            padding: 3px 30px;
            &:last-child{
              border-bottom: none;
            }
            &:hover{
              border-color: @submenu-font-color;
            }
          }
          .dropdown-menu{
            > li {
              padding: 3px 30px;
              &:last-child{
                border-bottom: none;
              }
              &:hover{
                border-color: @submenu-font-color;
              }
            }
          }
        }
      }
    }
    &.navbar-fixed-bottom .navbar-collapse,
    &.navbar-fixed-top .navbar-collapse{
    max-height: none;
    }
  }
}

// desktop navbar view
@media (min-width: 992px) {
  .navbar{
    position: fixed;
    ul.nav{
      li.dropdown{
        > ul.dropdown-menu {
          display: block;
          overflow: hidden;
          background-color: @submenu-item-background;
          max-height: 0;
        }
        &:hover{
          > ul.dropdown-menu {
            display: block;
            max-height: 1000px;
            > li.dropdown:hover > ul.dropdown-menu {
              top: -2px;
              left: 100%;
              width: @dropdown-size;
            }
          }
        }
      }
    }
    .dropdown-menu{
      &:before{
        position: absolute;
        width: @dropdown-size;
        height: 3px;
        background: @submenu-dropbown-bottom-border;
        display: block;
        content: '';
        left: 0;
        top: 0;
      }
      >li{
        &:extend(.helper-dropdown-menu-li);
        &:hover{
          &:extend(.helper-dropdown-menu-li-hover);
          > a{
            &:extend(.helper-dropdown-menu-li-hover-a);
          }
        }
        >ul li {
          &:hover {
            &:extend(.helper-dropdown-menu-li-hover);
            > a{
              &:extend(.helper-dropdown-menu-li-hover-a);
            }
            > ul li:hover {
              &:extend(.helper-dropdown-menu-li-hover);
              > a{
                &:extend(.helper-dropdown-menu-li-hover-a);
              }
            }
          }
        }
      }
      .dropdown-menu{
        >li{
          &:extend(.helper-dropdown-menu-li);
        }
      }
    }
  }

  .header{
    margin-top:100px;
  }

  .helper-dropdown-menu-li{
    display: block;
    padding: @navigation-bullet-padding;
    background: @submenu-bullet-url;
    position: relative;
  }

  .helper-dropdown-menu-li-hover{
    background: @submenu-bullet-hover-url;
    background-color: @submenu-item-hover-background;
    color: @submenu-item-hover-color;
    overflow: visible;
  }
  .helper-dropdown-menu-li-hover-a{
    color: @submenu-item-hover-color;
    overflow: visible;
  }


}

#mega-menu-wrap-primary-menu {
  #mega-menu-primary-menu {
    > li.mega-menu-flyout {
      > ul.mega-sub-menu {
        li.mega-menu-item {
          ul {
            padding: 0;
            list-style: none;
            li {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    ul.mega-sub-menu {
      li.mega-menu-item {
        ul {
          padding: 0 !important;
          list-style: none !important;
          li {
            padding-bottom: 5px !important;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mega-menu-wrap-primary-menu {
    #mega-menu-primary-menu {
      > li.mega-menu-megamenu {
        > ul.mega-sub-menu {
          > li.mega-menu-item {
            font-family: @submenu-font-family;
          }
        }
      }
      > li.mega-menu-item {
        > ul.mega-sub-menu {
          > li.mega-menu-item {
            font-family: @submenu-font-family;
          }
        }
        > a.mega-menu-link {
          font-family: @menu-font-family;
        }
      }
      > li.mega-menu-flyout {
        > a.mega-menu-link {
          font-family: @menu-font-family;
        }
        ul.mega-sub-menu {
          li.mega-menu-item {
            a.mega-menu-link {
              font-family: @submenu-font-family;
              background-image: @submenu-bullet-url-single;
              background-position: left 20px top 20px;
              background-repeat: no-repeat;
              &:hover {
                background-image: @submenu-bullet-hover-url-single;
                background-position: left 30px top 20px;
                background-repeat: no-repeat;
              }
            }
          }
        }
        > ul.mega-sub-menu {
          li.mega-menu-item {
            ul {
              padding: 0;
              list-style: none;
              li {
                padding-bottom: 5px;
              }
            }
          }
        }
      }
      ul.mega-sub-menu {
        li.mega-menu-item {
          ul {
            padding: 0 !important;
            list-style: none !important;
            li {
              padding-bottom: 5px !important;
            }
          }
        }
      }
    }
  }
}

