@import (reference) "../variables/variables.less";

.page-header {
  margin: 100px 0 0 0;
  border: none;
  background: 50% 50%;
  .breadcrumb{
    background: none;
    display: inline-block;
    padding: 5px;
    border-radius: 0;
    &.breadcrumb-border{
      border: 1px solid @light-grey-bg-color;
    }
    a{
      position: relative;
      padding: 7px;
      font-weight: bold;
      &:before{
        position: absolute;
        right: -15px;
        top: 7px;
        width: 15px;
        height: 13px;
        content: "/";
        opacity: .5;
        text-align: left;
        z-index: 3;
      }
    }
    span{
      padding: 7px;
    }
  }
  &.dark-header{
    background-color: @dark-section-bg-color;
    h1,h2,h3,h4,h5{
      color: @white-text;
    }
    .breadcrumb{
      a{
        color: #fff;
      }
      span{
        color: @light-text;
      }
    }
  }
  &.error-page{
    .error-shadow{
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      text-align: center;
      width: 100%;
      top: -50px;
      h1{
        display: block;
        color: @error-page-404;
        font-size: 600px;
      }
    }
    .return-home{
      a{
        color: @headline-color;
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-header {
    margin: 0;
  }
}
