.page-header {
  margin: 100px 0 0 0;
  border: none;
  background: 50% 50%;
}
.page-header .breadcrumb {
  background: none;
  display: inline-block;
  padding: 5px;
  border-radius: 0;
}
.page-header .breadcrumb.breadcrumb-border {
  border: 1px solid #f4f4f4;
}
.page-header .breadcrumb a {
  position: relative;
  padding: 7px;
  font-weight: bold;
}
.page-header .breadcrumb a:before {
  position: absolute;
  right: -15px;
  top: 7px;
  width: 15px;
  height: 13px;
  content: "/";
  opacity: .5;
  text-align: left;
  z-index: 3;
}
.page-header .breadcrumb span {
  padding: 7px;
}
.page-header.dark-header {
  background-color: #1e1f20;
}
.page-header.dark-header h1,
.page-header.dark-header h2,
.page-header.dark-header h3,
.page-header.dark-header h4,
.page-header.dark-header h5 {
  color: #ffffff;
}
.page-header.dark-header .breadcrumb a {
  color: #fff;
}
.page-header.dark-header .breadcrumb span {
  color: #cbcbcb;
}
.page-header.error-page .error-shadow {
  display: block;
  z-index: -1;
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  top: -50px;
}
.page-header.error-page .error-shadow h1 {
  display: block;
  color: #f7f7f7;
  font-size: 600px;
}
.page-header.error-page .return-home a {
  color: #000000;
  font-size: 36px;
}
@media (max-width: 991px) {
  .page-header {
    margin: 0;
  }
}
