extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
.portfolio-carousel .owl-controls {
  position: absolute;
  left: 0;
  top: 230px;
  width: 100%;
}
.portfolio-carousel .owl-controls .owl-buttons div {
  background: transparent !important;
}
.portfolio-carousel .owl-controls .owl-prev {
  left: -100px;
  position: absolute;
  opacity: 1;
}
.portfolio-carousel .owl-controls .owl-next {
  right: -100px;
  position: absolute;
  opacity: 1 !important;
}
@media (max-width: 991px) {
  .portfolio-carousel .owl-controls {
    display: none !important;
  }
}
.portfolio-item {
  padding: 15px;
}
.portfolio-item .portfolio-description {
  overflow: hidden;
  height: 270px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding: 0 40px;
}
.portfolio-item .portfolio-description h4 {
  margin-bottom: 40px;
  position: relative;
}
.portfolio-item .portfolio-description h4:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  background: #000000;
  left: 0;
  bottom: -20px;
}
.portfolio-item .portfolio-picture {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
  background: no-repeat 50% 50%;
  background-size: cover !important;
}
.portfolio-item .portfolio-picture .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  line-height: 270px;
  background: rgba(255, 255, 255, 0.9);
}
.portfolio-item .portfolio-picture .portfolio-hover a {
  padding: 10px;
  color: #000000;
  font-size: 20px;
}
.portfolio-item:hover .portfolio-hover {
  opacity: 1;
}
.portfolio-item:hover h4 {
  color: #1e1f20;
}
.portfolioFilters a {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  margin: 2px;
  padding: 10px 18px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.portfolioFilters a.active-filter,
.portfolioFilters a:hover {
  color: #ffffff;
  background: #000000;
}
@media (max-width: 991px) {
  .portfolioFilters {
    padding-top: 60px;
    text-align: center;
  }
  .portfolioFilters a {
    display: block;
  }
}
.portfolio-item-navigation-ajax {
  display: none;
}
#ajaxPortfolioContainer .portfolio-item-navigation-ajax {
  display: block;
}
.portfolio-item-navigation a {
  padding: 10px;
}
.exit-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 16px;
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  background: #1e1f20;
}
