@import (reference) "../variables/variables.less";


.portfolio-carousel{
  .owl-controls {
    position: absolute;
    left: 0;
    top: 230px;
    width: 100%;
    .owl-buttons div {
      background: transparent !important;
    }
    .owl-prev {
      left: -100px;
      position: absolute;
      opacity:1;
    }
    .owl-next {
      right: -100px;
      position: absolute;
      opacity:1 !important;
    }
  }
}


@media (max-width: 991px) {
  .portfolio-carousel .owl-controls{
    display: none !important;
  }
}

.portfolio-item{
  &:extend(.ease);
  padding:15px;
  .portfolio-description {
    overflow: hidden;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 40px;
    h4{
      &:extend(.ease);
      margin-bottom:40px;
      position: relative;
      &:after{
        content:'';
        display:block;
        position: absolute;
        width: 10px;
        height: 1px;
        background: @headline-color;
        left: 0;
        bottom: -20px;
      }
    }
  }
  .portfolio-picture {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;
    background: no-repeat 50% 50%;
    background-size: cover !important;
    .portfolio-hover {
      &:extend(.ease);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: 2;
      line-height: 270px;
      background: rgba(255,255,255,0.9);
      a{
        padding:10px;
        color: @headline-color;
        font-size:20px;
      }
    }
  }
  &:hover{
    .portfolio-hover{
      opacity: 1;
    }
    h4 {
      color: @accent-color;
    }
  }
}

.portfolioFilters{
  a{
    &:extend(.ease);
    font-size: 15px;
    font-weight: 600;
    color: @headline-color;
    display: inline-block;
    margin: 2px;
    padding: 10px 18px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    &.active-filter, &:hover{
      color: @white-text;
      background: @headline-color;
    }
  }
}

@media (max-width: 991px) {
  .portfolioFilters {
    padding-top: 60px;
    text-align: center;
    a {
      display: block;
    }
  }
}

.portfolio-item-navigation-ajax{
  display: none;
}

#ajaxPortfolioContainer{
  .portfolio-item-navigation-ajax{
    display: block;
  }
}

.portfolio-item-navigation{
  a{
    padding:10px;
  }
}

.exit-item{
  display:inline-block;
  width:20px;
  height:20px;
  line-height:16px;
  margin: 0 10px;
  text-align:center;
  border-radius: 50%;
  background: @dark-section-bg-color;
}

