@import (reference) "../variables/variables.less";

#jpreOverlay, #qLoverlay {
  background-color: @preloader-bg;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
#jpreSlide {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  width: 100%;
}
#jpreLoader, #qLloader {
  width: 448px;
  height: 69px;
  position: fixed;
  top: 43%;
  left: 50%;
  margin-left: 0px;
  margin-top: -300px;
}
#jpreBar, #qLbar {
  width: 448px;
  height: 0;
  position: absolute;
  bottom: 0;
  background: url(@preloader-logo) 100px 100% no-repeat;
}
#jprePercentage, #qLpercentage {
  color: #000;
  text-align: center;
  position: absolute;
  height: 30px;
  width: 100px;
  margin-top: 40px;
}