extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
extend ' .ease' has no matches
.sidebar .widget,
.lower-footer .widget {
  padding-bottom: 50px;
}
.sidebar .widget .search,
.lower-footer .widget .search {
  position: relative;
}
.sidebar .widget h1,
.lower-footer .widget h1,
.sidebar .widget h2,
.lower-footer .widget h2,
.sidebar .widget h3,
.lower-footer .widget h3,
.sidebar .widget h4,
.lower-footer .widget h4,
.sidebar .widget h5,
.lower-footer .widget h5,
.sidebar .widget h6,
.lower-footer .widget h6 {
  padding-bottom: 30px;
}
.sidebar .widget.widget_calendar table,
.lower-footer .widget.widget_calendar table {
  width: 100%;
}
.sidebar .widget.widget_calendar table > caption,
.lower-footer .widget.widget_calendar table > caption {
  padding-bottom: 25px;
  color: #000000;
  font-weight: 600;
}
.sidebar .widget.widget_calendar table th,
.lower-footer .widget.widget_calendar table th {
  color: #ffffff;
  font-weight: 400;
  background: #1e1f20;
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
.sidebar .widget.widget_calendar table th:last-child,
.lower-footer .widget.widget_calendar table th:last-child {
  border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
}
.sidebar .widget.widget_calendar table th:first-child,
.lower-footer .widget.widget_calendar table th:first-child {
  border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
}
.sidebar .widget.widget_calendar table td,
.lower-footer .widget.widget_calendar table td {
  padding: 3px;
  text-align: center;
}
.sidebar .widget.widget_calendar table #today,
.lower-footer .widget.widget_calendar table #today {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #1e1f20;
  color: #ffffff;
}
.sidebar .widget.widget_calendar table #today a,
.lower-footer .widget.widget_calendar table #today a {
  color: #ffffff;
}
.sidebar .widget ul,
.lower-footer .widget ul {
  list-style: none;
  padding: 0;
}
.sidebar .widget .search-button,
.lower-footer .widget .search-button,
.sidebar .widget .search-button:focus,
.lower-footer .widget .search-button:focus,
.sidebar .widget .search-button:active,
.lower-footer .widget .search-button:active,
.sidebar .widget .search-button:target,
.lower-footer .widget .search-button:target {
  z-index: 2;
  background: #1e1f20;
  height: 50px;
  width: 40px;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.sidebar .widget .sub-menu,
.lower-footer .widget .sub-menu {
  padding-left: 20px;
}
.sidebar .widget.widget_categories label,
.lower-footer .widget.widget_categories label,
.sidebar .widget .menu label,
.lower-footer .widget .menu label,
.sidebar .widget.widget_pages label,
.lower-footer .widget.widget_pages label,
.sidebar .widget.widget_meta label,
.lower-footer .widget.widget_meta label,
.sidebar .widget.widget_archive label,
.lower-footer .widget.widget_archive label,
.sidebar .widget.woocommerce.widget_product_categories label,
.lower-footer .widget.woocommerce.widget_product_categories label {
  display: none;
}
.sidebar .widget.widget_categories select,
.lower-footer .widget.widget_categories select,
.sidebar .widget .menu select,
.lower-footer .widget .menu select,
.sidebar .widget.widget_pages select,
.lower-footer .widget.widget_pages select,
.sidebar .widget.widget_meta select,
.lower-footer .widget.widget_meta select,
.sidebar .widget.widget_archive select,
.lower-footer .widget.widget_archive select,
.sidebar .widget.woocommerce.widget_product_categories select,
.lower-footer .widget.woocommerce.widget_product_categories select {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-color: #ddd;
  outline: none !important;
  font-size: 12px;
  color: #cbcbcb;
}
.sidebar .widget.widget_categories ul li a,
.lower-footer .widget.widget_categories ul li a,
.sidebar .widget .menu li a,
.lower-footer .widget .menu li a,
.sidebar .widget.widget_pages ul li a,
.lower-footer .widget.widget_pages ul li a,
.sidebar .widget.widget_meta ul li a,
.lower-footer .widget.widget_meta ul li a,
.sidebar .widget.widget_archive ul li a,
.lower-footer .widget.widget_archive ul li a,
.sidebar .widget.woocommerce.widget_product_categories ul li a,
.lower-footer .widget.woocommerce.widget_product_categories ul li a {
  display: block;
  padding: 15px 15px 15px 50px;
  border-bottom: 1px solid #ddd;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
  position: relative;
  background: url(../../images/bullet.png) no-repeat left 20px top 20px;
}
.sidebar .widget.widget_categories ul li a:hover,
.lower-footer .widget.widget_categories ul li a:hover,
.sidebar .widget .menu li a:hover,
.lower-footer .widget .menu li a:hover,
.sidebar .widget.widget_pages ul li a:hover,
.lower-footer .widget.widget_pages ul li a:hover,
.sidebar .widget.widget_meta ul li a:hover,
.lower-footer .widget.widget_meta ul li a:hover,
.sidebar .widget.widget_archive ul li a:hover,
.lower-footer .widget.widget_archive ul li a:hover,
.sidebar .widget.woocommerce.widget_product_categories ul li a:hover,
.lower-footer .widget.woocommerce.widget_product_categories ul li a:hover {
  background: url(../../images/bullet-white.png) no-repeat left 30px top 20px;
  background-color: #1e1f20;
  color: #ffffff;
}
.sidebar .widget.widget_categories > ul,
.lower-footer .widget.widget_categories > ul,
.sidebar .widget > div > .menu,
.lower-footer .widget > div > .menu,
.sidebar .widget.widget_pages > ul,
.lower-footer .widget.widget_pages > ul,
.sidebar .widget.widget_meta > ul,
.lower-footer .widget.widget_meta > ul,
.sidebar .widget.widget_archive > ul,
.lower-footer .widget.widget_archive > ul,
.sidebar .widget.woocommerce.widget_product_categories > ul,
.lower-footer .widget.woocommerce.widget_product_categories > ul {
  padding: 0;
}
.sidebar .widget .latest-news-list,
.lower-footer .widget .latest-news-list {
  padding: 0;
}
.sidebar .widget .latest-news-list li,
.lower-footer .widget .latest-news-list li {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  background: no-repeat 50% 50% #1e1f20;
  background-size: cover !important;
  display: block;
  margin-bottom: 20px;
}
.sidebar .widget .latest-news-list .news-list-hover,
.lower-footer .widget .latest-news-list .news-list-hover {
  background: #ffffff;
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 40px;
}
.sidebar .widget .latest-news-list .news-list-hover h6,
.lower-footer .widget .latest-news-list .news-list-hover h6 {
  padding-bottom: 15px;
}
.sidebar .widget .latest-news-list .news-list-hover a,
.lower-footer .widget .latest-news-list .news-list-hover a {
  font-size: 20px;
}
.sidebar .widget .latest-news-list li:hover .news-list-hover,
.lower-footer .widget .latest-news-list li:hover .news-list-hover {
  opacity: 1;
}
.sidebar .widget .tagcloud a,
.lower-footer .widget .tagcloud a {
  font-size: 13px !important;
  margin: 3px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.sidebar .widget .tagcloud a:hover,
.lower-footer .widget .tagcloud a:hover {
  background: #1e1f20;
  border-color: #1e1f20;
  color: #ffffff;
}
.sidebar .widget .recentcomments,
.lower-footer .widget .recentcomments {
  padding-bottom: 5px;
}
.sidebar .widget .recentcomments span,
.lower-footer .widget .recentcomments span {
  font-weight: bold;
}
.sidebar ul > li > a.rsswidget,
.lower-footer ul > li > a.rsswidget {
  padding-bottom: 5px;
  display: block;
}
.form-control,
.form-control:focus {
  display: block;
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 10px;
  line-height: 10px;
  color: #b6b6b6;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
}
.sidebar .form-control,
.lower-footer .form-control,
.sidebar .form-control:focus,
.lower-footer .form-control:focus {
  height: 50px;
}
.lower-footer .textwidget img {
  display: block;
}
.lower-footer h3 {
  font-size: 22px;
}
.lower-footer .widget {
  padding-bottom: 20px;
}
.lower-footer .widget .latest-news-list .news-list-hover {
  background: #1e1f20;
}
.lower-footer .widget .latest-news-list .news-list-hover a {
  color: #ffffff;
}
.lower-footer .widget.widget_calendar table > caption {
  color: #ffffff;
}
.lower-footer .widget.widget_calendar table th {
  background: #333;
}
.lower-footer .widget.widget_calendar table #today {
  background: #1e1f20;
  color: #ffffff;
}
.lower-footer .widget.widget_calendar table #today a {
  color: #ffffff;
}
.lower-footer .widget .search-button,
.lower-footer .widget .search-button:focus,
.lower-footer .widget .search-button:active,
.lower-footer .widget .search-button:target {
  background: #333;
}
.lower-footer .widget .form-control,
.lower-footer .widget .form-control:focus {
  border: 1px solid #333;
}
.lower-footer .widget .tagcloud a {
  border: 1px solid #333;
}
.lower-footer .widget .tagcloud a:hover {
  background: #333;
  border-color: #333;
  color: #ffffff;
}
.lower-footer .widget.widget_categories label,
.lower-footer .widget .menu label,
.lower-footer .widget.widget_pages label,
.lower-footer .widget.widget_meta label,
.lower-footer .widget.widget_archive label,
.lower-footer .widget.woocommerce.widget_product_categories label {
  display: none;
}
.lower-footer .widget.widget_categories select,
.lower-footer .widget .menu select,
.lower-footer .widget.widget_pages select,
.lower-footer .widget.widget_meta select,
.lower-footer .widget.widget_archive select,
.lower-footer .widget.woocommerce.widget_product_categories select {
  border-color: #333;
  color: #cbcbcb;
}
.lower-footer .widget.widget_categories ul li a,
.lower-footer .widget .menu li a,
.lower-footer .widget.widget_pages ul li a,
.lower-footer .widget.widget_meta ul li a,
.lower-footer .widget.widget_archive ul li a,
.lower-footer .widget.woocommerce.widget_product_categories ul li a {
  border-bottom: 1px solid #333;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
  background: url(../../images/bullet-white.png) no-repeat left 30px top 20px;
}
.lower-footer .widget.widget_categories ul li a:hover,
.lower-footer .widget .menu li a:hover,
.lower-footer .widget.widget_pages ul li a:hover,
.lower-footer .widget.widget_meta ul li a:hover,
.lower-footer .widget.widget_archive ul li a:hover,
.lower-footer .widget.woocommerce.widget_product_categories ul li a:hover {
  background: url(../../images/bullet.png) no-repeat left 20px top 20px;
  background-color: #333;
  color: #ffffff;
}
