@import (reference) "../variables/variables.less";

.sidebar, .lower-footer {
  .widget {
    .search{
      position:relative;
    }
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 30px;
    }
    &.widget_calendar{
      table{
        width:100%;
        > caption{
          padding-bottom: 25px;
          color: @headline-color;
          font-weight: 600;
        }
        th{
          color: @white-text;
          font-weight: 400;
          background: @accent-color;
          border-radius: 0;
          padding: 5px;
          font-size: 16px;
          text-align: center;
          &:last-child{
            border-radius: 0 4px 0 0;
            -moz-border-radius: 0 4px 0 0;
            -webkit-border-radius: 0 4px 0 0;
          }
          &:first-child{
            border-radius: 4px 0 0 0;
            -moz-border-radius: 4px 0 0 0;
            -webkit-border-radius: 4px 0 0 0;
          }
        }

        td{
          padding:3px;
          text-align:center;
        }
        #today{
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          background: @dark-section-bg-color;
          color: @white-text;
          a{
            color: @white-text;
          }
        }
      }

    }
    ul {
      list-style: none;
      padding: 0;
    }
    padding-bottom: 50px;
    .search-button, .search-button:focus, .search-button:active, .search-button:target {
      z-index: 2;
      background: @dark-section-bg-color;
      height: 50px;
      width: 40px;
      border-radius: 0 4px 4px 0;
      box-shadow: none;
      outline: none;
      color: @white-text;
      text-align: center;
      overflow: hidden;
      font-size: 16px;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }
    .sub-menu {
      padding-left: 20px;
    }
    &.widget_categories, .menu, &.widget_pages, &.widget_meta, &.widget_archive, &.woocommerce.widget_product_categories{
      label{
        display: none;
      }
      select{
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-color: @light-border;
        outline: none !important;
        font-size: 12px;
        color: @light-text;
      }
    }
    &.widget_categories ul, .menu, &.widget_pages ul, &.widget_meta ul, &.widget_archive ul, &.woocommerce.widget_product_categories ul{
      li{
        &:extend(.ease);
        a{
          &:extend(.ease);
          display:block;
          padding: @sidebar-list-item-padding;
          border-bottom: 1px solid @light-border;
          -webkit-text-stroke: @stroke-text;
          position: relative;
          background: @submenu-bullet-url;
          &:hover{
            background: @submenu-bullet-hover-url;
            background-color: @accent-color;
            color: @white-text;
        }
        }
      }
    }
    &.widget_categories > ul, > div > .menu, &.widget_pages > ul, &.widget_meta > ul, &.widget_archive > ul, &.woocommerce.widget_product_categories > ul {
      padding: 0;
    }

    .latest-news-list {
      padding: 0;
      li {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: relative;
        background: no-repeat 50% 50% @dark-section-bg-color;
        background-size: cover !important;
        display: block;
        margin-bottom: 20px;
      }
      .news-list-hover {
        &:extend(.ease);
        background: @white-text;
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);
        padding-top: 40px;
        h6 {
          padding-bottom: 15px;
        }
        a {
          font-size: 20px;
        }
      }
      li {
        &:hover {
          .news-list-hover {
            opacity: 1;
          }
        }
      }
    }
    .tagcloud {
      a {
        &:extend(.ease);
        font-size: 13px !important;
        margin: 3px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        padding: 12px 18px;
        border: 1px solid @light-border;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        &:hover {
          background: @dark-section-bg-color;
          border-color: @dark-section-bg-color;
          color: @white-text;
        }
      }

    }
    .recentcomments{
      padding-bottom:5px;
      span{
        font-weight: bold;
      }
    }
  }
  ul> li > a.rsswidget{
    padding-bottom:5px;
    display:block;
  }
}

.form-control, .form-control:focus {
  display: block;
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 10px;
  line-height: 10px;
  color: @footnote-color;
  background-color: transparent;
  border: 1px solid @light-border;
  box-shadow: none;
  border-radius: 4px;
}

.sidebar, .lower-footer{
  .form-control, .form-control:focus{
    height: 50px;
  }
}

.lower-footer{
  .textwidget{
    img{
      display: block;
    }
  }
  h3{
    font-size: 22px;
  }
  .widget {
    padding-bottom: 20px;
    .latest-news-list {
      .news-list-hover {
        &:extend(.ease);
        background: @lower-footer-bg-color;
        a {
          color: @lower-footer-heading-color;
        }
      }
    }
    &.widget_calendar{
      table{
        > caption{
          color: @lower-footer-heading-color;
        }
        th{
          background: @dark-border;
        }
        #today{
          background: @dark-section-bg-color;
          color: @white-text;
          a{
            color: @white-text;
          }
        }
      }

    }
    .search-button, .search-button:focus, .search-button:active, .search-button:target{
      background: @dark-border;
    }
    .form-control, .form-control:focus {
      border: 1px solid @dark-border;
    }
    .tagcloud {
      a {
        border: 1px solid @dark-border;
        &:hover {
          background: @dark-border;
          border-color: @dark-border;
          color: @white-text;
        }
      }

    }

    &.widget_categories, .menu, &.widget_pages, &.widget_meta, &.widget_archive, &.woocommerce.widget_product_categories {
      label {
        display: none;
      }
      select {
        border-color: @dark-border;
        color: @light-text;
      }
    }
    &.widget_categories ul, .menu, &.widget_pages ul, &.widget_meta ul, &.widget_archive ul, &.woocommerce.widget_product_categories ul {
      li {
        &:extend(.ease);
        a {
          &:extend(.ease);
          border-bottom: 1px solid @dark-border;
          -webkit-text-stroke: @stroke-text;
          background: @submenu-bullet-hover-url;
          &:hover {
            background: @submenu-bullet-url;
            background-color: @dark-border;
            color: @white-text;
          }
        }
      }
    }
  }
}