extend ' .ease' has no matches
.woocommerce-page .woocommerce-MyAccount-navigation li,
.woocommerce .woocommerce-MyAccount-navigation li {
  padding-bottom: 10px;
}
.woocommerce-page .woocommerce-Address-title h3,
.woocommerce .woocommerce-Address-title h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.woocommerce-page .woocommerce-Address-title a,
.woocommerce .woocommerce-Address-title a {
  font-size: 10px;
}
.woocommerce-page .login,
.woocommerce .login {
  border-color: #ddd;
}
.woocommerce-page .woocommerce-MyAccount-content input,
.woocommerce .woocommerce-MyAccount-content input,
.woocommerce-page .login input,
.woocommerce .login input {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 10px;
  line-height: 10px;
  color: #b6b6b6;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
}
.woocommerce-page .woocommerce-MyAccount-content input[type="submit"],
.woocommerce .woocommerce-MyAccount-content input[type="submit"],
.woocommerce-page .login input[type="submit"],
.woocommerce .login input[type="submit"] {
  background: #1e1f20;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  width: auto;
  text-transform: uppercase;
}
.woocommerce-page .woocommerce-MyAccount-content legend,
.woocommerce .woocommerce-MyAccount-content legend,
.woocommerce-page .login legend,
.woocommerce .login legend {
  font-size: 14px;
  padding-top: 10px;
}
.woocommerce-page .sidebar .widget_layered_nav_filters li,
.woocommerce .sidebar .widget_layered_nav_filters li {
  padding-right: 10px;
  font-size: 12px;
}
.woocommerce-page .sidebar .widget_layered_nav_filters li a:before,
.woocommerce .sidebar .widget_layered_nav_filters li a:before {
  color: #1e1f20;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter form,
.woocommerce .sidebar .woocommerce.widget_price_filter form {
  border: none;
  height: auto;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter .price_slider_amount,
.woocommerce .sidebar .woocommerce.widget_price_filter .price_slider_amount {
  padding-top: 15px;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter .price_slider_amount .price_label,
.woocommerce .sidebar .woocommerce.widget_price_filter .price_slider_amount .price_label {
  font-size: 12px;
  padding-top: 15px;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter button,
.woocommerce .sidebar .woocommerce.widget_price_filter button {
  padding: 12px;
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14px;
  outline: none;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter .ui-slider,
.woocommerce .sidebar .woocommerce.widget_price_filter .ui-slider {
  background: #f4f4f4;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .sidebar .woocommerce.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #1e1f20;
}
.woocommerce-page .sidebar .woocommerce.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .sidebar .woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #1e1f20;
}
.woocommerce-page .sidebar .widget_shopping_cart_content .buttons a,
.woocommerce .sidebar .widget_shopping_cart_content .buttons a {
  padding: 12px;
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14px;
}
.woocommerce-page .sidebar .widget.woocommerce.widget_product_search,
.woocommerce .sidebar .widget.woocommerce.widget_product_search {
  position: relative;
}
.woocommerce-page .sidebar .widget.woocommerce.widget_product_search:before,
.woocommerce .sidebar .widget.woocommerce.widget_product_search:before {
  font-family: FontAwesome, sans-serif;
  content: '\f002';
  color: #ffffff;
  top: 0;
  right: 0;
  width: 40px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  z-index: 3;
  position: absolute;
  pointer-events: none;
}
.woocommerce-page .sidebar form,
.woocommerce .sidebar form {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #b6b6b6;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
  height: 50px;
}
.woocommerce-page .sidebar form label,
.woocommerce .sidebar form label {
  display: none;
}
.woocommerce-page .sidebar form input[type="search"],
.woocommerce .sidebar form input[type="search"] {
  padding: 15px;
  border: none;
  outline: none !important;
  width: 100%;
}
.woocommerce-page .sidebar form input[type="submit"],
.woocommerce .sidebar form input[type="submit"] {
  z-index: 2;
  background: #1e1f20;
  height: 50px;
  width: 40px;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  outline: 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.woocommerce-page .sidebar .star-rating,
.woocommerce .sidebar .star-rating {
  color: #cbcbcb;
  margin: 10px 0;
}
.woocommerce-page .sidebar ul.cart_list li,
.woocommerce .sidebar ul.cart_list li,
.woocommerce-page .sidebar ul.product_list_widget li,
.woocommerce .sidebar ul.product_list_widget li {
  padding-bottom: 10px;
}
.woocommerce-page .sidebar ul.cart_list li img,
.woocommerce .sidebar ul.cart_list li img,
.woocommerce-page .sidebar ul.product_list_widget li img,
.woocommerce .sidebar ul.product_list_widget li img {
  width: 70px;
}
.woocommerce-page .sidebar .total,
.woocommerce .sidebar .total {
  padding-top: 20px;
}
.woocommerce-page .sidebar .total strong,
.woocommerce .sidebar .total strong {
  font-weight: 700 !important;
  color: #000000;
}
.woocommerce-page .sidebar .wc-layered-nav-rating .star-rating,
.woocommerce .sidebar .wc-layered-nav-rating .star-rating {
  margin: 0;
}
.woocommerce-page .woocommerce-billing-fields h3,
.woocommerce .woocommerce-billing-fields h3 {
  padding-bottom: 30px;
  font-size: 28px;
}
.woocommerce-page .woocommerce-message,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-info {
  border-top-color: #1e1f20;
}
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce .woocommerce-info:before {
  color: #1e1f20;
}
.woocommerce-page #order_review_heading,
.woocommerce #order_review_heading {
  padding: 20px 0;
}
.woocommerce-page form.checkout input,
.woocommerce form.checkout input {
  outline: none;
}
.woocommerce-page form.checkout textarea,
.woocommerce form.checkout textarea {
  outline: none;
  height: 120px;
}
.woocommerce-page form.checkout input,
.woocommerce form.checkout input,
.woocommerce-page form.checkout textarea,
.woocommerce form.checkout textarea {
  display: block;
  width: 100%;
  padding: 10px 20px 10px 20px;
  font-size: 10px;
  line-height: 10px;
  color: #cbcbcb;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
}
.woocommerce-page form.checkout #submit,
.woocommerce form.checkout #submit {
  padding: 20px;
  width: auto;
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 14px;
}
.woocommerce-page form.checkout #payment input,
.woocommerce form.checkout #payment input {
  width: auto !important;
  display: inline-block !important;
}
.woocommerce-page #reviews #review_form_wrapper .comment-respond h3,
.woocommerce #reviews #review_form_wrapper .comment-respond h3 {
  padding-bottom: 30px;
}
.woocommerce-page #reviews #review_form_wrapper form input,
.woocommerce #reviews #review_form_wrapper form input {
  outline: none;
}
.woocommerce-page #reviews #review_form_wrapper form textarea,
.woocommerce #reviews #review_form_wrapper form textarea {
  outline: none;
  height: 120px;
}
.woocommerce-page #reviews #review_form_wrapper form input,
.woocommerce #reviews #review_form_wrapper form input,
.woocommerce-page #reviews #review_form_wrapper form textarea,
.woocommerce #reviews #review_form_wrapper form textarea {
  display: block;
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 10px;
  line-height: 10px;
  color: #cbcbcb;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
}
.woocommerce-page #reviews #review_form_wrapper form #submit,
.woocommerce #reviews #review_form_wrapper form #submit {
  padding: 20px;
  width: auto;
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 14px;
}
.woocommerce-page #reviews #comments .woocommerce-Reviews-title,
.woocommerce #reviews #comments .woocommerce-Reviews-title {
  padding-bottom: 80px;
}
.woocommerce-page #reviews #comments ol.commentlist,
.woocommerce #reviews #comments ol.commentlist {
  padding-left: 0;
}
.woocommerce-page #reviews #comments ol.commentlist .star-rating,
.woocommerce #reviews #comments ol.commentlist .star-rating {
  float: none;
  margin-bottom: 10px;
}
.woocommerce-page #reviews #comments ol.commentlist li img.avatar,
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: 60px;
  border: none;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: none;
  padding: 0;
}
.woocommerce-page #reviews #comments ol.commentlist li .comment-text,
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border: none;
  padding: 0 0 30px;
  margin: 0 0 0 100px;
}
.woocommerce-page #reviews #comments ol.commentlist .meta,
.woocommerce #reviews #comments ol.commentlist .meta {
  font-size: 14px;
  padding-bottom: 0;
}
.woocommerce-page #reviews #comments ol.commentlist .meta strong,
.woocommerce #reviews #comments ol.commentlist .meta strong {
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #000000;
  padding-right: 5px;
}
.woocommerce-page #reviews #comments ol.commentlist .meta time,
.woocommerce #reviews #comments ol.commentlist .meta time {
  padding-left: 5px;
  font-size: 12px;
  color: #cbcbcb;
}
.woocommerce-page .panel,
.woocommerce .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.woocommerce-page .posted_in,
.woocommerce .posted_in,
.woocommerce-page .tagged_as,
.woocommerce .tagged_as {
  display: block;
}
.woocommerce-page .posted_in a,
.woocommerce .posted_in a,
.woocommerce-page .tagged_as a,
.woocommerce .tagged_as a {
  font-weight: bold;
}
.woocommerce-page .quantity,
.woocommerce .quantity {
  height: 30px;
}
.woocommerce-page .quantity input,
.woocommerce .quantity input {
  height: 100%;
  outline: none !important;
}
.woocommerce-page #respond input#submit.alt,
.woocommerce #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce input.button.alt {
  background: #1e1f20;
  outline: none !important;
}
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #1e1f20;
}
.woocommerce-page h2.site-description,
.woocommerce h2.site-description,
.woocommerce-page .entry-title,
.woocommerce .entry-title {
  color: #000000;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}
.woocommerce-page h2,
.woocommerce h2 {
  padding-bottom: 40px;
  padding-top: 30px;
  font-size: 26px;
}
.woocommerce-page ul.products li.product,
.woocommerce ul.products li.product {
  width: 30.8%;
  text-align: center;
}
.woocommerce-page ul.products li.product h3,
.woocommerce ul.products li.product h3 {
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}
.woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product .price {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}
.woocommerce-page ul.products li.product .price del,
.woocommerce ul.products li.product .price del {
  color: #1e1f20;
  padding-bottom: 5px;
  font-size: 16px;
}
.woocommerce-page ul.products li.product .price ins,
.woocommerce ul.products li.product .price ins {
  font-weight: 100;
}
.woocommerce-page ul.products li.product .star-rating,
.woocommerce ul.products li.product .star-rating {
  color: #1e1f20;
}
.woocommerce-page ul.products li.product .woo-imagewrapper,
.woocommerce ul.products li.product .woo-imagewrapper {
  position: relative;
}
.woocommerce-page ul.products li.product .woo-imagewrapper .woo-overlay,
.woocommerce ul.products li.product .woo-imagewrapper .woo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  padding-top: 45%;
}
.woocommerce-page ul.products li.product .woo-imagewrapper .woo-overlay a,
.woocommerce ul.products li.product .woo-imagewrapper .woo-overlay a {
  background: none;
  color: #1e1f20;
  font-size: 20px;
  padding: 10px;
}
.woocommerce-page ul.products li.product:hover .woo-imagewrapper .woo-overlay,
.woocommerce ul.products li.product:hover .woo-imagewrapper .woo-overlay {
  opacity: 1;
}
.woocommerce-page span.onsale,
.woocommerce span.onsale {
  background-color: #1e1f20;
  padding: 0;
  z-index: 2;
}
.woocommerce-page div.product .woocommerce-Reviews,
.woocommerce div.product .woocommerce-Reviews {
  padding-top: 30px;
}
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs {
  padding-top: 60px;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 30px 0 0;
  margin: 0;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border-color: #ddd !important;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background: #1e1f20;
  border-radius: 0;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
  display: none;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  display: none;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #ffffff;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: #ffffff;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #000000;
}
.woocommerce-page div.product .star-rating,
.woocommerce div.product .star-rating {
  color: #1e1f20;
}
.woocommerce-page div.product .woocommerce-review-link,
.woocommerce div.product .woocommerce-review-link {
  font-size: 12px;
}
.woocommerce-page div.product p.price,
.woocommerce div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce div.product span.price {
  font-family: 'Roboto', sans-serif;
  color: #1e1f20;
  font-size: 40px;
  font-weight: 100;
}
.woocommerce-page div.product p.price del,
.woocommerce div.product p.price del,
.woocommerce-page div.product span.price del,
.woocommerce div.product span.price del {
  font-size: 20px;
}
.woocommerce-page div.product p.price ins,
.woocommerce div.product p.price ins,
.woocommerce-page div.product span.price ins,
.woocommerce div.product span.price ins {
  font-weight: 100;
}
.woocommerce-page .products .star-rating,
.woocommerce .products .star-rating {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.woocommerce-page h1.page-title,
.woocommerce h1.page-title {
  display: none;
}
.woocommerce-page form.woocommerce-ordering,
.woocommerce form.woocommerce-ordering,
.woocommerce-page form.woocommerce-ordering:focus,
.woocommerce form.woocommerce-ordering:focus {
  display: block;
  font-size: 10px;
  padding: 5px 0 5px 5px;
  line-height: 10px;
  color: #b6b6b6;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
}
.woocommerce-page form.woocommerce-ordering select,
.woocommerce form.woocommerce-ordering select,
.woocommerce-page form.woocommerce-ordering:focus select,
.woocommerce form.woocommerce-ordering:focus select {
  border: none;
  padding: 5px 1px 5px 15px;
  outline: none !important;
}
.woocommerce-page .woocommerce-result-count,
.woocommerce .woocommerce-result-count {
  font-size: 12px;
  padding-top: 5px;
}
.woocommerce-page .related.products ul.products li.product,
.woocommerce .related.products ul.products li.product {
  width: 22.05%;
}
@media (max-width: 768px) {
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products li.product {
    width: 48%;
  }
  .woocommerce-page .related.products ul.products li.product,
  .woocommerce .related.products ul.products li.product {
    width: 48%;
  }
}
.woo-header .breadcrumb a {
  margin-right: 10px;
}
