@import (reference) "../variables/variables.less";

.woocommerce-page, .woocommerce{
  .woocommerce-MyAccount-navigation{
    li{
      padding-bottom: 10px;
    }
  }
  .woocommerce-Address-title{
    h3{
      font-size:20px;
      padding-bottom:20px;
    }
    a{
      font-size: 10px;
    }
  }
  .login{
    border-color: @light-border;
  }
  .woocommerce-MyAccount-content, .login{
    input{
      display: block;
      width: 100%;
      padding: 15px;
      font-size: 10px;
      line-height: 10px;
      color: @footnote-color;
      background-color: transparent;
      border: 1px solid @light-border;
      box-shadow: none;
      border-radius: 4px;
    }
    input[type="submit"]{
      background: #1e1f20;
      color: @white-text;
      text-align: center;
      font-size: 10px;
      width: auto;
      text-transform: uppercase;
    }
    legend{
      font-size: 14px;
      padding-top: 10px;
    }
  }
  .sidebar{
    .widget_layered_nav_filters{
      li{
        padding-right: 10px;
        font-size:12px;
        a:before{
          color: @accent-color;
        }
      }
    }
    .woocommerce.widget_price_filter{
      form{
        border: none;
        height: auto;
      }
      .price_slider_amount{
        padding-top: 15px;
        .price_label{
          font-size: 12px;
          padding-top: 15px;
        }
      }
      button{
        padding: 12px;
        background: @dark-section-bg-color;
        color: @white-text;
        border: 1px solid @dark-section-bg-color;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        outline: none;
      }
      .ui-slider{
        background: @light-grey-bg-color;
        .ui-slider-range{
          background-color: @accent-color;
        }
        .ui-slider-handle{
          background-color: @accent-color;;
        }
      }
    }
    .widget_shopping_cart_content{
      .buttons{
        a{
          padding: 12px;
          background: @dark-section-bg-color;
          color: @white-text;
          border: 1px solid @dark-section-bg-color;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          font-size: 14px;
        }
      }
    }
    .widget.woocommerce.widget_product_search {
      position: relative;
      &:before {
        font-family: FontAwesome, sans-serif;
        content: '\f002';
        color: @white-text;
        top: 0;
        right: 0;
        width: 40px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        z-index: 3;
        position: absolute;
        pointer-events: none;
      }
    }
    form{
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 10px;
        line-height: 10px;
        color: @footnote-color;
        background-color: transparent;
        border: 1px solid @light-border;
        box-shadow: none;
        border-radius: 4px;
        height: 50px;
        label{
          display: none;
        }
        input[type="search"]{
          padding: 15px;
          border: none;
          outline: none !important;
          width: 100%;
        }
        input[type="submit"]{
          z-index: 2;
          background: #1e1f20;
          height: 50px;
          width: 40px;
          border-radius: 0 4px 4px 0;
          box-shadow: none;
          outline: 0;
          color: #fff;
          text-align: center;
          overflow: hidden;
          font-size: 16px;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
        }
    }
    .star-rating{
      color: @light-text;
      margin: 10px 0;
    }
    ul.cart_list li, ul.product_list_widget li{
      padding-bottom:10px;
      img {
        width: 70px;
      }
    }
    .total{
      padding-top: 20px;
      strong{
        font-weight: 700 !important;
        color: @headline-color;
      }
    }
    .wc-layered-nav-rating{
      .star-rating{
        margin: 0;
      }
    }
  }
  .woocommerce-billing-fields{
    h3{
      padding-bottom: 30px;
      font-size: 28px;
    }
  }
  .woocommerce-message, .woocommerce-info{
    border-top-color: @accent-color;
    &:before{
      color: @accent-color;
    }
  }

  #order_review_heading{
    padding: 20px 0;
  }

  form.checkout{
    input{
      outline: none;
    }
    textarea{
      outline: none;
      height: 120px;
    }
    input, textarea{
      display: block;
      width: 100%;
      padding: 10px 20px 10px 20px;
      font-size: 10px;
      line-height: 10px;
      color: @light-text;
      background-color: transparent;
      border: 1px solid @light-border;
      box-shadow: none;
      border-radius: 4px;
    }
    #submit{
      padding: 20px;
      width: auto;
      background: @dark-section-bg-color;
      color: @white-text;
      border: 1px solid @dark-section-bg-color;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      font-size: 14px;
    }
    #payment input{
      width: auto !important;
      display: inline-block !important;
    }
  }

  #reviews{
    #review_form_wrapper{
      .comment-respond{
        h3{
          padding-bottom: 30px;
        }
      }
      form{
        input{
          outline: none;
        }
        textarea{
          outline: none;
          height: 120px;
        }
        input, textarea{
          display: block;
          width: 100%;
          padding: 20px 0 20px 20px;
          font-size: 10px;
          line-height: 10px;
          color: @light-text;
          background-color: transparent;
          border: 1px solid @light-border;
          box-shadow: none;
          border-radius: 4px;
        }
        #submit{
          padding: 20px;
          width: auto;
          background: @dark-section-bg-color;
          color: @white-text;
          border: 1px solid @dark-section-bg-color;
          border-radius: 8px;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          font-size: 14px;
        }
      }
    }
    #comments {
      .woocommerce-Reviews-title{
        padding-bottom:80px;
      }
      ol.commentlist {
        padding-left:0;
        .star-rating{
          float: none;
          margin-bottom: 10px;
        }
        li {
          img.avatar{
            width: 60px;
            border:none;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            background: none;
            padding: 0;
          }
          .comment-text{
            border: none;
            padding: 0 0 30px;
            margin: 0 0 0 100px;
          }
        }
        .meta{
          font-size: @body-font-size;
          padding-bottom:0;
          strong{
            font-weight: 700 !important;
            text-transform: uppercase;
            color: @headline-color;
            padding-right: 5px;
          }
          time{
            padding-left: 5px;
            font-size: 12px;
            color: @light-text;
          }
        }
      }
    }
  }
  .panel{
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .posted_in, .tagged_as {
    display:block;
    a {
      font-weight: bold;
    }
  }
  .quantity{
    height: 30px;
    input{
      height: 100%;
      outline: none !important;
    }
  }
  #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt{
    background: @dark-section-bg-color;
    outline: none !important;
    &:hover{
      background: @dark-section-bg-color;
    }
  }
  h2.site-description, .entry-title{
    color: @headline-color;
    font-weight: 600;
    font-family: @headline-font-family;
    padding-bottom: 20px;
  }
  h2{
    padding-bottom: 40px;
    padding-top: 30px;
    font-size: 26px;
  }
  ul.products{
    li.product{
      width: @woocommerce-product-width;
      text-align:center;
      h3{
        font-size:20px;
        color: @headline-color;
        padding-bottom: 5px;
      }
      .price{
        font-size:26px;
        font-weight: 100;
        font-family: @headline-font-family;
        color: @headline-color;
        del{
          color: @accent-color;
          padding-bottom:5px;
          font-size:16px;
        }
        ins{
          font-weight: 100;
        }
      }
      .star-rating{
        color: @dark-section-bg-color;
      }
      .woo-imagewrapper{
        position:relative;
        .woo-overlay{
          &:extend(.ease);
          position:absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.9);
          opacity:0;
          top:0;
          left:0;
          padding-top: 45%;
          a{
            background: none;
            color: @accent-color;
            font-size: 20px;
            padding: 10px;
          }
        }
      }
      &:hover{
        .woo-imagewrapper{
          .woo-overlay{
            opacity:1;
          }
        }
      }
    }
  }
  span.onsale{
    background-color: @accent-color;
    padding:0;
    z-index:2;
  }
  div.product{
    .woocommerce-Reviews{
      padding-top: 30px;
    }
    .woocommerce-tabs{
      padding-top: 60px;
      ul.tabs{
        &:before{
          border-color: @light-border !important;
        }
        padding: 30px 0 0;
        margin:0;
        li{
          background: @dark-section-bg-color;
          border-radius: 0;
          &:after{
            display:none;
          }
          &:before {
            display: none;
          }
          a{
            color: @white-text;
            &:hover{
              color: @white-text;
            }
          }
          &.active{
            a{
              color: @headline-color;
            }
          }
        }
      }
    }
    .star-rating{
      color: @accent-color;
    }
    .woocommerce-review-link{
      font-size: 12px;
    }
    p.price, span.price{
      font-family: @headline-font-family;
      color: @accent-color;
      font-size:40px;
      font-weight: 100;
      del{
        font-size:20px;
      }
      ins{
        font-weight: 100;
      }
    }
  }
  .products{
    .star-rating{
      float:none;
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-top: 30px;
    }
  }
  h1.page-title{
    display:none;
  }
  form.woocommerce-ordering,form.woocommerce-ordering:focus{
    display: block;
    font-size: 10px;
    padding: 5px 0 5px 5px;
    line-height: 10px;
    color: @footnote-color;
    background-color: transparent;
    border: 1px solid @light-border;
    box-shadow: none;
    border-radius: 4px;
    select{
      border:none;
      padding: 5px 1px 5px 15px;
      outline: none !important;
    }
  }
  .woocommerce-result-count{
    font-size:12px;
    padding-top: 5px;
  }
  .related.products{
    ul.products {
      li.product {
        width: 22.05%;
      }
    }
  }
}



@media (max-width: 768px) {
  .woocommerce-page, .woocommerce{
    ul.products{
      li.product{
        width: 48%;
      }
    }
    .related.products{
      ul.products {
        li.product {
          width: 48%;
        }
      }
    }
  }
}

.woo-header{
  .breadcrumb {
    a{
      margin-right: 10px;
    }
  }
}
