extend ' .ease' has no matches
.btn {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  border: 1px solid;
  color: #1e1f20;
  background: transparent;
}
.btn:after {
  font-family: FontAwesome, sans-serif;
  content: "\f178";
  font-weight: normal;
  position: absolute;
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  height: auto;
}
.btn:hover {
  border: 1px solid transparent;
}
.btn.btn-lg {
  padding: 20px 50px 20px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 14px;
}
.btn.btn-lg:after {
  padding-left: 10px;
  width: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;
}
.btn.btn-md,
.btn.btn-sm,
.btn.btn-xs {
  padding: 12px 50px 12px 12px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 12px;
}
.btn.btn-md:after,
.btn.btn-sm:after,
.btn.btn-xs:after {
  padding-left: 10px;
  width: 20px;
  top: 12px;
  bottom: 12px;
  right: 20px;
}
.btn.btn-dark {
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
}
.btn.btn-dark:after {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.btn.btn-light {
  background: #cbcbcb;
  color: #ffffff;
  border: 1px solid #cbcbcb;
}
.btn.btn-light:after {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}
.btn.btn-dark-bg {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-dark-bg:hover {
  border-color: transparent;
}
.btn.btn-dark-bg:after {
  border-left: 1px solid #ffffff;
  color: #ffffff;
}
.btn.btn-dark-bg.btn-light {
  background: #ffffff;
  color: #1e1f20;
  border-color: #ffffff;
}
.btn.btn-dark-bg.btn-light:after {
  border-left: 1px solid #1e1f20;
  color: #1e1f20;
}
.btn.btn-dark-bg.btn-dark {
  background: #cbcbcb;
  color: #1e1f20;
  border: #cbcbcb;
}
.btn.btn-dark-bg.btn-dark:after {
  border-left: 1px solid #1e1f20;
  color: #1e1f20;
}
.btn.btn-shopping:after {
  content: "\f07a";
}
.btn.btn-arrow:after {
  content: "\f178";
}
.btn.btn-bold-arrow:after {
  content: "\f061";
}
.btn.btn-resize:after {
  content: "\f0b2";
}
.btn.btn-forward:after {
  content: "\f064";
}
.btn.btn-check:after {
  content: "\f05d";
}
input.btn.btn-lg {
  padding: 20px;
}
input.btn.btn-md,
input.btn.btn-sm,
input.btn.btn-xs {
  padding: 12px;
}
