@import (reference) "../../variables/variables.less";


.btn{
  &:extend(.ease);
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  border: 1px solid;
  color: @dark-text;
  background: transparent;
  &:after {
    font-family: FontAwesome, sans-serif;
    content: "\f178";
    font-weight: normal;
    position: absolute;
    display: block;
    border-left: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.3);
    padding-left: 10px;
    height: auto;
  }

  &:hover{
    border: 1px solid transparent;
  }

  &.btn-lg{
    padding: 20px 50px 20px 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 14px;
    &:after{
      padding-left: 10px;
      width: 20px;
      top: 20px;
      bottom: 20px;
      right: 20px;
    }
  }

  &.btn-md,&.btn-sm,&.btn-xs{
    padding: 12px 50px 12px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 12px;
    &:after{
      padding-left: 10px;
      width: 20px;
      top: 12px;
      bottom: 12px;
      right: 20px;
    }
  }

  &.btn-dark{
    background: @dark-section-bg-color;
    color: @white-text;
    border: 1px solid @dark-section-bg-color;
    &:after{
      border-left: 1px solid rgba(255,255,255,0.3);
      color: rgba(255,255,255,0.3);
    }
  }

  &.btn-light{
    background: @medium-grey-color;
    color: @white-text;
    border: 1px solid @medium-grey-color;
    &:after{
      border-left: 1px solid rgba(0,0,0,0.3);
      color: rgba(0,0,0,0.3);
    }
  }

  &.btn-dark-bg{
    background: transparent;
    color: @white-text;
    border-color: @white-text;
    &:hover{
      border-color: transparent;
    }
    &:after{
      border-left: 1px solid @white-text;
      color: @white-text;
    }
    &.btn-light{
      background: @white-text;
      color: @dark-text;
      border-color: @white-text;
      &:after{
        border-left: 1px solid @dark-text;
        color: @dark-text;
      }
    }
    &.btn-dark{
      background: @medium-grey-color;
      color: @dark-text;
      border: @medium-grey-color;
      &:after{
        border-left: 1px solid @dark-text;
        color: @dark-text;
      }
    }
  }

  &.btn-shopping{
    &:after{
      content: "\f07a";
    }
  }
  &.btn-arrow{
    &:after{
      content: "\f178";
    }
  }
  &.btn-bold-arrow{
    &:after{
      content: "\f061";
    }
  }
  &.btn-resize{
    &:after{
      content: "\f0b2";
    }
  }
  &.btn-forward{
    &:after{
      content: "\f064";
    }
  }
  &.btn-check{
    &:after{
      content: "\f05d";
    }
  }
}

input{
  &.btn{
    &.btn-lg{
      padding: 20px;
    }
    &.btn-md,&.btn-sm,&.btn-xs{
      padding: 12px;
    }
  }
}
