extend ' .ease' has no matches
.counter > i {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #f4f4f4;
  color: #cbcbcb;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin: 10px 30px 10px auto;
}
.counter h2 {
  padding-bottom: 10px;
}
.counter:hover > i {
  background: transparent;
}
.counter > .counter-data {
  text-align: left;
}
.counter > .counter-data > span {
  display: block;
}
.counter.dark-bg-counter > i {
  background: #ffffff;
  color: #1e1f20;
}
.counter.dark-bg-counter:hover > i {
  background: transparent;
  color: #ffffff;
}
.counter.dark-bg-counter h2 {
  color: #fff;
}
