@import (reference) "../../variables/variables.less";


.counter{
  >i{
    &:extend(.ease);
    float:left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: @light-grey-bg-color;
    color: @medium-grey-color;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px 30px 10px auto;
  }
  h2{
    padding-bottom: 10px;
  }
  &:hover{
    >i{
      background: transparent;
    }
  }
  >.counter-data{
    text-align: left;
    >span{
      display:block;
    }
  }
  &.dark-bg-counter{
    >i{
      background: @white-text;
      color: @dark-text;
    }
    &:hover{
      >i {
        background: transparent;
        color: @white-text;
      }
    }
    h2{
      color: #fff;
    }
  }
}