.wpcf7 .row {
  padding-bottom: 20px;
}
.wpcf7 p {
  padding-bottom: 10px;
}
.wpcf7 label,
.wpcf7 input,
.wpcf7 span,
.wpcf7 textarea {
  width: 100%;
}
.wpcf7 input,
.wpcf7 textarea {
  outline: none;
}
.wpcf7 input:focus,
.wpcf7 textarea:focus {
  outline: none;
}
.wpcf7 input {
  height: 50px;
}
.wpcf7 textarea {
  height: 100px;
}
.wpcf7 input,
.wpcf7 textarea {
  padding: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #b6b6b6;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 4px;
  font-weight: normal;
}
.wpcf7 .wpcf7-submit {
  background: #1e1f20;
  color: #ffffff;
  border: 1px solid #1e1f20;
  padding: 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
}
