@import (reference) "../../variables/variables.less";

.wpcf7{
  .row{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 10px;
  }
  label, input, span, textarea{
    width: 100%;
  }
  input, textarea{
    outline: none;
    &:focus{
      outline: none;
    }
  }
  input {
    height: 50px;
  }
  textarea{
    height: 100px;
  }
  input, textarea{
    padding: 20px;
    font-size: 10px;
    line-height: 10px;
    color: @footnote-color;
    background-color: transparent;
    border: 1px solid @light-border;
    box-shadow: none;
    border-radius: 4px;
    font-weight: normal;
  }
  .wpcf7-submit{
    background: @accent-color;
    color: @white-text;
    border: 1px solid @accent-color;
    padding: 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
  }
}