.item-list {
  padding: 0;
}
.item-list li {
  display: block;
  padding: 5px 5px 5px 50px;
  position: relative;
}
.item-list li:before {
  color: #1e1f20;
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  margin-left: -32px;
  width: 32px;
  content: '\f192';
}
.item-list.circlearrow li:before {
  content: '\f0a9';
}
.item-list.arrow li:before {
  content: '\f061';
}
.item-list.chevron li:before {
  content: '\f054';
}
.item-list.check li:before {
  content: '\f00c';
}
.item-list.check-circle li:before {
  content: '\f058';
}
.item-list.check-square li:before {
  content: '\f046';
}
.item-list.xclose li:before {
  content: '\f00d';
}
.item-list.forward li:before {
  content: '\f064';
}
.item-list.toggles li:before {
  content: '\f152';
}
.item-list.times li:before {
  content: '\f057';
}
.item-list.play li:before {
  content: '\f16a';
}
