@import (reference) "../../variables/variables.less";

.item-list{
  padding: 0;
  li {
    display: block;
    padding: 5px 5px 5px 50px;
    position: relative;
  }
  li:before {
    color: @dark-text;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    margin-left: -32px;
    width: 32px;
    content: '\f192';
  }
  &.circlearrow li:before{
    content: '\f0a9';
  }
  &.arrow li:before{
    content: '\f061';
  }
  &.chevron li:before{
    content: '\f054';
  }
  &.check li:before{
    content: '\f00c';
  }
  &.check-circle li:before{
    content: '\f058';
  }
  &.check-square li:before{
    content: '\f046';
  }
  &.xclose li:before{
    content: '\f00d';
  }
  &.forward li:before{
    content: '\f064';
  }
  &.toggles li:before{
    content: '\f152';
  }
  &.times li:before{
    content: '\f057';
  }
  &.play li:before{
    content: '\f16a';
  }
}