@import (reference) "../../variables/variables.less";

.chart, .chart-dark {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  canvas{
    position: absolute;
    top:0;
    left:0;
  }
  h2{
    &:extend(.ease);
    &:extend(.medium-thin-font);
    display: inline-block;
    line-height: 120px;
    z-index: 2;
  }
}

.progressbar .footnote{
  padding: 8px 0 20px;
  display: block;
}

.progressbar{
  &:hover{
    h2{
      color: @secondary-accent-color;
    }
  }
}

.progress{
  height: 20px;
  margin-bottom: 15px;
  background-color: @light-grey-bg-color;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &.nobg{
    background: transparent;
  }

  .progress-bar{
    background-color: @dark-section-bg-color;
    line-height: 20px;
  }
}
