extend ' .ease' has no matches
extend ' .medium-thin-font' has no matches
.chart,
.chart-dark {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.chart canvas,
.chart-dark canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart h2,
.chart-dark h2 {
  display: inline-block;
  line-height: 120px;
  z-index: 2;
}
.progressbar .footnote {
  padding: 8px 0 20px;
  display: block;
}
.progressbar:hover h2 {
  color: #cbcbcb;
}
.progress {
  height: 20px;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress.nobg {
  background: transparent;
}
.progress .progress-bar {
  background-color: #1e1f20;
  line-height: 20px;
}
