extend ' .ease' has no matches
blockquote:hover {
  background: transparent !important;
}
blockquote p {
  font-family: Arial, sans-serif;
  color: #4f4f4f;
  -webkit-text-stroke: unset;
  font-size: 16px;
  margin: 0;
}
blockquote footer {
  color: #b6b6b6;
  font-size: 11px;
}
blockquote:hover {
  background: #f8f8f8;
}
blockquote.dark-border {
  border-color: #1e1f20;
}
blockquote.colored-bg {
  background: #f8f8f8;
}
blockquote.colored-bg:hover {
  background: transparent;
}
