@import (reference) "../../variables/variables.less";

blockquote{
  &:extend(.ease);
  &:hover{
    background: transparent !important;
  }
  p{
    font-family: @body-font-family;
    color: @body-font-color;
    -webkit-text-stroke: unset;
    font-size:@blockquote-font-size;
    margin:0;
  }
  footer{
    color: @footnote-color;
    font-size: @footnote-font-size;
  }

  &:hover{
    background: @lighter-grey-bg-color;
  }

  &.dark-border{
    border-color: @accent-color;
  }

  &.colored-bg{
    background: @lighter-grey-bg-color;
    &:hover{
      background: transparent;
    }
  }
}
