@import (reference) "../../variables/variables.less";


.service{

  .service-icon {
    &:extend(.ease);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: @light-grey-bg-color;
    color: @medium-grey-color;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
  &:hover{
    .service-icon {
      background: transparent;
    }
  }

  &.service-dark{
    .service-icon {
      color: @white-text;
      background: @accent-color;
    }
    &:hover{
      .service-icon {
        background: transparent;
        color: @accent-color;
      }
    }
  }

}