extend ' .ease' has no matches
.service .service-icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #f4f4f4;
  color: #cbcbcb;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}
.service:hover .service-icon {
  background: transparent;
}
.service.service-dark .service-icon {
  color: #ffffff;
  background: #1e1f20;
}
.service.service-dark:hover .service-icon {
  background: transparent;
  color: #1e1f20;
}
