@import (reference) "../../variables/variables.less";

.social-icon{
  &:extend(.ease);
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;

  &.small-icon{
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  &.large-icon{
    font-size: 20px;
    width: 42px;
    height: 42px;
    line-height: 42px;
  }
  &.light-bg{
    background: @white-text;
    &:hover{
      background: transparent;
      color: @white-text !important;
    }
  }

  &.white-icon{
    color: @white-text !important;
    &:hover{
      background: @white-text;
      color: @dark-text !important;
    }
  }

  &.dark-icon{
    color: @dark-text;
    &:hover{
      background: @dark-text;
      color: @white-text;
    }
  }

  &.accent-icon{
    color: @accent-color;
    &:hover{
      background: @accent-color;
      color: @white-text;
    }
  }
  &.dark-bg{
    color: @white-text;
    background: @dark-section-bg-color;
    &:hover{
      background: transparent;
      color: @dark-text;
    }
  }
  i{
    color: inherit;
  }
}

.vc_icon_element.vc_icon_element-outer {
  .vc_icon_element-inner{
    height: 2em !important;
  }
}