extend ' .ease' has no matches
.social-icon {
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
}
.social-icon.small-icon {
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.social-icon.large-icon {
  font-size: 20px;
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.social-icon.light-bg {
  background: #ffffff;
}
.social-icon.light-bg:hover {
  background: transparent;
  color: #ffffff !important;
}
.social-icon.white-icon {
  color: #ffffff !important;
}
.social-icon.white-icon:hover {
  background: #ffffff;
  color: #1e1f20 !important;
}
.social-icon.dark-icon {
  color: #1e1f20;
}
.social-icon.dark-icon:hover {
  background: #1e1f20;
  color: #ffffff;
}
.social-icon.accent-icon {
  color: #1e1f20;
}
.social-icon.accent-icon:hover {
  background: #1e1f20;
  color: #ffffff;
}
.social-icon.dark-bg {
  color: #ffffff;
  background: #1e1f20;
}
.social-icon.dark-bg:hover {
  background: transparent;
  color: #1e1f20;
}
.social-icon i {
  color: inherit;
}
.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
  height: 2em !important;
}
