extend ' .ease' has no matches
.step-box {
  text-align: center;
}
.step-box .step-box-icon {
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
.step-box .step-box-icon.with-arrow:after {
  font-family: "FontAwesome", sans-serif;
  color: #f4f4f4;
  width: 90px;
  display: inline-block;
  height: auto;
  position: absolute;
  top: 0;
  left: 145px;
  content: "\f178";
  text-align: center;
  font-size: 28px;
}
.step-box p {
  font-size: 13px;
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.step-box.light-step-box:hover p {
  color: #000000;
}
.step-box.light-step-box:hover .step-box-icon {
  color: #ffffff;
  background: #1e1f20;
}
.step-box.light-step-box .step-box-icon {
  color: #1e1f20;
  background: #f4f4f4;
}
.step-box.dark-step-box p {
  color: #cbcbcb;
}
.step-box.dark-step-box .step-box-icon {
  color: #1e1f20;
  background: #ffffff;
}
.step-box.dark-step-box:hover p {
  color: #ffffff;
}
.step-box.dark-step-box:hover .step-box-icon {
  color: #f4f4f4;
  background: #1e1f20;
}
@media (max-width: 991px) {
  .step-box-icon.with-arrow:after {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .step-box-icon.with-arrow:after {
    left: 115px !important;
  }
}
