@import (reference) "../../variables/variables.less";

.step-box{
  text-align: center;

  .step-box-icon{
    &:extend(.ease);
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    &.with-arrow:after{
      font-family: "FontAwesome", sans-serif;;
      color: @light-grey-bg-color;
      width: 90px;
      display: inline-block;
      height: auto;
      position: absolute;
      top: 0;
      left: 145px;
      content: "\f178";
      text-align: center;
      font-size: 28px
    }
  }

  p{
    font-size:13px;
    padding-top:20px;
    width: 50%;
    margin: 0 auto;
    padding-bottom:40px;
  }

  &.light-step-box {
    &:hover{
      p{
        color: @headline-color;
      }
      .step-box-icon{
        color: @white-text;
        background: @accent-color;
      }
    }
    .step-box-icon{
      color: @accent-color;
      background: @light-grey-bg-color;
    }
  }

  &.dark-step-box {
    p{
      color: @light-text;
    }
    .step-box-icon{
      color: @dark-section-bg-color;
      background: @white-text;
    }
    &:hover{
      p{
        color: @white-text;
      }
      .step-box-icon{
        color: @light-grey-bg-color;
        background: @dark-text;
      }
    }
  }
}


@media (max-width: 991px) {
  .step-box-icon.with-arrow:after{
    display:none !important;
  }
}

@media (max-width: 1199px) {
  .step-box-icon.with-arrow:after{
    left: 115px !important;
  }
}
