extend ' .ease' has no matches
.tab-pane p {
  padding: 20px 0;
}
.nav-tabs {
  border: none;
}
.nav-tabs > li a {
  font-weight: 600;
  border: none;
  border-radius: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
  border: none;
  color: #ffffff;
  background: #1e1f20;
}
.nav-tabs.dark > li.active > a,
.nav-tabs.dark > li.active > a:focus,
.nav-tabs.dark > li.active > a:hover,
.nav-tabs.dark > li > a:hover {
  border: none;
  color: #ffffff;
  background: #cbcbcb;
}
.panel-default {
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 20px 0;
  border: none;
}
.panel-default > .panel-heading {
  border: none;
  background-color: #cbcbcb;
  border-radius: 0;
}
.panel-default > .panel-heading a {
  color: #ffffff;
}
.panel-default .panel-body p {
  margin: 0;
  padding: 0;
}
.panel-default.dark .panel-heading {
  background-color: #1e1f20;
}
