@import (reference) "../../variables/variables.less";

.tab-pane{
  p{
    padding: 20px 0;
  }
}
.nav-tabs{
  border: none;
  >li a{
    &:extend(.ease);
    font-weight: 600;
    border: none;
    border-radius:0;
  }

  >li.active>a, >li.active>a:focus, >li.active>a:hover, >li>a:hover{
    border: none;
    color: @white-text;
    background: @dark-section-bg-color;
  }

  &.dark{
    >li.active>a, >li.active>a:focus, >li.active>a:hover, >li>a:hover{
      border: none;
      color: @white-text;
      background: @medium-grey-color;
    }
  }
}


.panel-default{

  border: none;
  box-shadow: none;
  border-radius:0;

  >.panel-heading+.panel-collapse>.panel-body{
    padding: 20px 0;
    border: none;
  }

  >.panel-heading{
    border: none;
    background-color: @medium-grey-color;
    border-radius: 0;
    a{
      color: @white-text;
    }
  }

  .panel-body p{
    margin:0;
    padding:0;
  }

  &.dark .panel-heading{
    background-color: @dark-section-bg-color;
  }
}
