.team-carousel .owl-controls {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
}
.team-carousel .owl-controls .owl-buttons div {
  background: transparent !important;
}
.team-carousel .owl-controls .owl-prev {
  left: 50px;
  position: absolute;
  opacity: 1;
}
.team-carousel .owl-controls .owl-next {
  right: 50px;
  position: absolute;
  opacity: 1 !important;
}
.team-carousel.light-team-carousel .team-description {
  border-right: 1px solid #1e1f20;
}
.team-carousel.dark-team-carousel .team-description {
  border-right: 1px solid #4f4f4f;
}
.team-carousel.dark-team-carousel h1,
.team-carousel.dark-team-carousel h2,
.team-carousel.dark-team-carousel p {
  color: #ffffff;
}
@media (max-width: 991px) {
  .team-carousel .owl-controls {
    display: none !important;
  }
  .team-carousel img {
    padding-top: 40px;
  }
}
.team-member h3 {
  color: #1e1f20;
}
.team-member h4 {
  color: #1e1f20;
}
