@import (reference) "../../variables/variables.less";

.team-carousel {

  .owl-controls {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    .owl-buttons div {
      background: transparent !important;
    }
    .owl-prev {
      left: 50px;
      position: absolute;
      opacity:1;
    }
    .owl-next {
      right: 50px;
      position: absolute;
      opacity:1 !important;
    }
  }
  &.light-team-carousel{
    .team-description {
      border-right: 1px solid @dark-section-bg-color;
    }
  }

  &.dark-team-carousel{
    .team-description {
      border-right: 1px solid @body-font-color;
    }
    h1,h2,p{
      color: @white-text;
    }
  }
}

@media (max-width: 991px) {
  .team-carousel {
    .owl-controls{
      display: none !important;
    }
    img{
      padding-top: 40px;
    }
  }
}

.team-member{
  h3{
    color: @accent-color;
  }
  h4{
    color: @accent-color
  }
}