@import (reference) "../../variables/variables.less";

.testimonial{
  padding: 20px;
  &.light-bg{
    background-color: @lighter-grey-bg-color;
  }
  .ttm-footer{
    >img{
      float: left;
      border-radius: 50px;
      margin: 0 20px 0 0;
      width: 80px;
      height: 80px;
    }
    >span{
      display: block;
    }
  }
}