.testimonial {
  padding: 20px;
}
.testimonial.light-bg {
  background-color: #f8f8f8;
}
.testimonial .ttm-footer > img {
  float: left;
  border-radius: 50px;
  margin: 0 20px 0 0;
  width: 80px;
  height: 80px;
}
.testimonial .ttm-footer > span {
  display: block;
}
